<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
   		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel='stylesheet' href='/bootstrap.min.css'>
		<script src="/jquery.js" type='text/javascript'></script>
	</head>

	<body>
		<style>
		    body, html {
		      background-color: #eee;
		      max-width: 980px;
		      margin: 0px auto;
		    }
			header {

			}
			header #wrapper {
				display: block;
				float: none;
			}
			header #wrapper #topBar {
				height: 90px;
			}
			header #wrapper #logo {
				height: 90px;
				width: 200px;
				float: left;
				display: block;
			}

			header #wrapper #user {
				float: right;
				display: block;
			}
			header #wrapper #user li {
				float: right;
				list-style-type: none;
				color: black;
				padding-right: 5px;
				padding-left: 5px;
				font-size: 0.8em;
			}

			header #wrapper #nav {
				padding: 0px 0px;
				width: 100%;
				border: 1px solid #ddd;
				height: 42px;
				margin-bottom: 40px;
			}
			header #wrapper #nav li {
				list-style-type: none;
				float: left;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				color: black;
				border-right: 1px solid #ddd;
				font-size: 0.9em;
			}
			header #wrapper #nav #newListing {
				float: right;
				border-left: 1px solid #ddd;
				font-weight: 700;
				margin-right: -1px;
			}

			#menu {
				width: 250px;
				border: 1px solid #ddd;
				background-color: #fff;
				float: left;
			}
			#menu form {
				width: 90%;
				margin: 0px auto;
				padding: 10px 0px;
			}
			#menu form select {
				width: 100%;
			}
			#menu h6 {
				font-weight: 700;
			}

      .col-md-2 main {
        width: 100%;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 10px 10px;
      }

      .col-md-4 main {
        width: 100%;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 10px 10px;
      }
      .col-md-4 main h5 {
        margin-bottom: -10px;
      }
      .col-md-4 main hr {
        margin-bottom: 5px;
      }

      .col-md-6 main {
        width: 100%;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 10px 10px;
      }

		</style>

		<header>
			<div id='wrapper'>
				<div id='topBar'>
					<a href='/'>
						<div id='logo'>

						</div>
					</a>
					<ul id='user'>

						<% if(user) { %>
							<a href='/sign-out'>
								<li>
									Sign Out
								</li>
							</a>
							<a href='/watchlist'>
								<li>
									Watchlist (0)
								</li>
							</a>
							<a href='/messages'>
								<li>
									Messages (0)
								</li>
							</a>
							<a href='/wallet'>
								<li>
									<strong>Taskcoin</strong> 0
								</li>
							</a>
						<% } else { %>
							<a href='/sign-in'>
								<li>
									Sign In
								</li>
							</a>
							<a href='/sign-up'>
								<li>
									Sign Up
								</li>
							</a>
						<% } %>
					</ul>
				</div>
				<ul id='nav'>
					<a href='/'>
						<li>
							Services
						</li>
					</a>
					<a href='/requests'>
						<li>
							Requests
						</li>
					</a>
					<a href='/search'>
						<li>
							Search
						</li>
					</a>
					<a href='/taskcoin'>
						<li>
							TaskCoin
						</li>
					</a>
					<a href='/about'>
						<li>
							About
						</li>
					</a>
					<a href='/blog'>
						<li>
							Blog
						</li>
					</a>
					<% if(user) { %>
					<div id='newListing'>
						<a href='/new-listing'>
							<li>
								New Listing
							</li>
						</a>
					</div>
					<% } %>
				</ul>
			</div>
		</header>

    <div class='container-fluid'>
      <div class="row">
        <div class="col-md-2">
          <main>
            <strong>
              Users</strong>: 0
          </main>
        </div>
        <div class="col-md-2">
          <main>
            <strong>
              TaskCoin Credit</strong>: 0
          </main>
        </div>
        <div class="col-md-2">
          <main>
            <strong>
              Requests</strong>: 0
          </main>
        </div>
        <div class="col-md-2">
          <main>
            <strong>
              Services</strong>: 0
          </main>
        </div>
        <div class="col-md-2">
          <main>
            <strong>
              Disputes</strong>: 0
          </main>
        </div>
        <div class="col-md-2">
          <main>
            <strong>
              Categories</strong>: 0
          </main>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <main>
            <h5>
              Quick ban
            </h5>
            <hr>
            <form>
              <label>
                Username
              </label>
              <br>
              <input type='input' name='username'  placeholder="Username" />
              <br>
              <input type='submit' value='Ban' />
            </form>
          </main>
        </div>
        <div class="col-md-4">
          <main>
            <h5>
              Quick removal
            </h5>
            <hr>
            <form>
              <label>
                Listing ID
              </label>
              <br>
              <input type='input' name='id' placeholder="Listing ID" />
              <br>
              <input type='submit' value='Remove' />
            </form>
          </main>
        </div>
        <div class="col-md-4">
          <main>
            <h5>
              Fee
            </h5>
            <hr>
            <form>
              <label>
                Listing ID
              </label>
              <br>
              <input type='number' min='1.00' max='1.20' step='0.01' name='amount' value='1.01' />
              <br>
              <input type='submit' value='Modify' />
            </form>
          </main>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <main>

          </main>
        </div>
        <div class="col-md-6">
          <main>

          </main>
        </div>
      </div>
    </div>

    <div class="ct-chart ct-perfect-fourth">

    </div>


		<script type='text/javascript'>
		</script>
	</body>
</html>
