<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="/jquery.js" type='text/javascript'></script>
    <title><%- title %></title>
    <style>
      body, html {
        background-color: #fafafa;
        width: 100%;
        margin: 0px auto;
        padding: 0px 0px;
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        height: 100%;
      }

      .pagination #right {
        float: right;
      }

      .card #price {
          color: #216C2A;
          font-weight: 500;
          padding-bottom: 10px;
          border-bottom: 1px solid #ddd;
          font-size: 1.2em;
      }

      .brand-logo {
        margin-left: 15px;
      }


        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {
            header, main, footer {
              padding-left: 0;
            }
        }

        .sidenav #userContent {
          border-bottom: 1px solid #ddd;
        }

        #profilePic img {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          border: 1px solid #ddd;
          margin-top: -10px;
        }
        #message {
          margin-left: 60px;
          margin-top: -37px;
        }
          
      footer {
        border-top: 1px solid #ddd;
        padding-top: 15px;
        margin-top: -25px;
        width: 100%;
      }

    </style>
  </head>
  <body>

    <header>
      <nav class="light-blue darken-1 nav-extended">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><%- websiteName %></a>
          <ul class="right hide-on-med-and-down">
            <% if(!user) { %>
            <li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
            <% } else { %>
            <li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
            <li><a href="/user/messages"><i class="material-icons">message</i></a></li>
            <li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
            <% } %>
          </ul>
        </div>
      </nav>
    </header>

    <div class='sidenav sidenav-fixed'>
      <% if(user) { %>
      <div id='userContent'>
        <li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
        <li><a class='grey-text' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
      </div>
      <% } else { %>
      <div id='userContent'>
        <li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
        <li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
      </div>
      <% } %>
      <li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
      <li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
      <li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
      <li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
      <li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
    </div>

    <main>
      <div class='container-fluid'>
        <div class='row'>
          <div class='offset-m1 col m10 s10'>
            <br>
              <div class='row'>
                <div class='col m7 s12'>
                  <div class='card'>
                    <div class="card-content black-text">
                      <span id='listingTitle' class="card-title">
                        
                      </span>
                      <p id='price'>
                        
                      </p>
                    </div>
                  </div> 
                  <br>
                <h5>
                  Messages
                </h5>
                

                <div class='row' >

                  <div id='messageWrapper' class='col m12 col s12'>
                    <% if(user) { %>
                <% if(user.username == worker || user.username == customer) { %>
                    <form action='/dispute/message/<%- id %>' method='post'>
                      <label>
                        Message
                      </label>
                      <input class='input-field' placeholder="Message..." required minlength="30" name='message' />
                      <br>
                      <br>
                      <input class='btn light-blue darken-1' type='submit' value='Submit' />
                    </form>
                <% } %>
                <% } %>
                    <br>
                    
                  </div>
                </div>  

                </div>
                <div class='col m5 s12'>
                  <div class='card'>
                    <div class="card-content black-text">
                      <span class="card-title">
                        Votes
                      </span> 
                      <canvas id='myChart'></canvas>
                      <br>
                    </div>
                  </div>  
                  <% if(user.username == worker || user.username == customer) { %>
                  <% } else { %>
                    <div class='row'>
                      <div class='col m12  s12'>
                        <div class='card'>
                          <div class="card-content black-text">
                            <span class="card-title">
                              Vote
                            </span>
                            
                            <div id='voteCompose'>
                      
                            </div>
                            
                          </div>
                        </div>  
                      </div>
                    </div>
                  <% } %>   

                </div>
              </div>
             
              
            <br>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col s12 offset-m1 col m3'>
            <strong>
              <%- websiteName %>
            </strong>
            <ul>
              <li>
                <a href='/about'>
                  About
                </a>
              </li>
              <li>
                <a href='/economy'>
                  Economy
                </a>
              </li>
              <li>
                <a href='/contact'>
                  Contact
                </a>
              </li>
              <li>
                <a href='/help'>
                  Help
                </a>
              </li>
            </ul>
          </div>  
          <div class='col s12 col m3'>
            <strong>
              Listing
            </strong>
            <ul>
              <li>
                <a href='/new-listing'>
                  New listing
                </a>
              </li>
              <li>
                <a href='/new-listing/service'>
                  New service
                </a>
              </li>
              <li>
                <a href='/new-listing/service'>
                  New request
                </a>
              </li>
              <li>
                <a href='/search'>
                  Search
                </a>
              </li>
              <li>
                <a href='/help/categories'>
                  Categories
                </a>
              </li>
              <li>
                <a href='/help/rates'>
                  Rates
                </a>
              </li>
            </ul>
          </div>
          <div class='col s12 col m3'>
            <strong>
              User  
            </strong>
            <% if(user) { %>
              <ul>
                <li>
                  <a href='/sign-in'>
                    Sign in
                  </a>
                </li>
                <li>
                  <a href='/sign-up'>
                    Sign up
                  </a>
                </li>
                <li>
                  <a href='/help/user/why'>
                    Why sign up
                  </a>
                </li>
                <li>
                  <a href='/help/user/credit'>
                    Sign up credit
                  </a>
                </li>
              </ul>
              <% } else { %>
              <ul>
                <li>
                  <a href='/user/dashboard'>
                    Dashboard
                  </a>
                </li>
                <li>
                  <a href='/user/messages'>
                    Messages
                  </a>
                </li>
                <li>
                  <a href='/user/wallet'>
                    Wallet
                  </a>
                </li>
                <li>
                  <a href='/user/requests/jobs'>
                    Purchases
                  </a>
                </li>
                <li>
                  <a href='/user/services/jobs'>
                    Selling
                  </a>
                </li>
                <li>
                  <a href='/sign-out'>
                    Sign out
                  </a>
                </li>
              </ul>
              <% } %>
          </div>
          <div class='col s12 col m2'>
            <strong>
              Misc
            </strong>
            <ul>
              <li>
                <a href='/api'>
                  API
                </a>
              </li>
              <li>
                <a href='/sitemap'>
                  Sitemap
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script type='text/javascript'>
        $.get('/api/dispute/<%- id %>', function(disputeCallback) {

          $.get('/api/listing/'+disputeCallback.listingID, function(callback) {
            $('#listingTitle').append(callback.title);
            $('#price').append('T'+callback.amount);
          });

          $.get('/api/deal/'+disputeCallback.dealID+'/messages', function(callback) {
            if(callback) {
              for (var message in callback) {
                $('#messageWrapper').append("<div class='card'> <div class='card-content black-text'> <a id='profilePic' href='/u/"+callback[message]['username']+"'> <img src='' /> </a> <p id='message'>"+callback[message]['message']+"</p></div></div>");
              }
            }
          });

        });

        $.get('/api/dispute/<%- id %>/messages', function(callback) {
          if(callback) {
            for(var i = 0; i < callback.length; i++) {
              $('#messageWrapper').append("<div class='card'> <div class='card-content black-text'> <a id='profilePic' href='/u/"+callback[i]['username']+"'> <img src='' /> </a> <p id='message'>"+callback[i]['message']+"</p></div></div>");
            }
          }
        });

        $.get('/api/dispute/<%- id %>/voted', function(callback) {
          if(callback == '0') {
            $('#voteCompose').append("<form action='/dispute/vote/<%- id %>' method='post'> <label> Username: </label> <br> <select class='browser-default' required name='vote'> <option value='<%- worker %>'><%- worker %></option> <option value='<%- customer %>'><%- customer %></option> </select> <br> <label> Amount (TASK): </label> <input name='amount' type='number' value='500' disabled required /> <br> <input type='submit' class='btn light-blue darken-1' value='Vote' /> </form>");
          } else {
            $('#voteCompose').append("<p>Already voted</p>");
          }
        });

        $.get('/api/dispute/<%- id %>/decide', function(callback) {
          
        });

        $.get('/api/dispute/<%- id %>/votes', function(callback) {
          
          function compileChart(worker, customer) {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myPieChart = new Chart(ctx,{
                type: 'pie',
                data: {
                    labels: ["<%- worker %>", "<%- customer %>"],
                    datasets: [{
                        label: "Votes",
                        backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'],
                        data: [Number(worker), Number(customer)],
                    }]
                },
                options: {}
            });
          }

          if(callback == '404') {
            return 0;
          } else {
            var total = 0;
            var worker = 0;
            var customer = 0;

            for(var vote in callback) {
              if(callback[vote]['side'] == '<%- worker %>') {
                total += callback[vote]['amount'];
                worker += callback[vote]['amount'];
              } else {
                total += callback[vote]['amount'];
                customer += callback[vote]['amount'];
              }
            }

            compileChart(worker, customer);
            
          }
        });

    </script>
  </body>
</html>
