<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
   		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel='stylesheet' href='/bootstrap.min.css'>
		<script src="/jquery.js" type='text/javascript'></script>
	</head>

	<body>
		<style>
		    body, html {
		      background-color: #eee;
		      max-width: 980px;
		      margin: 0px auto;
		    }
			header {

			}
			header #wrapper {
				display: block;
				float: none;
			}
			header #wrapper #topBar {
				height: 90px;
			}
			header #wrapper #logo {
				height: 90px;
				width: 200px;
				float: left;
				display: block;
			}

			header #wrapper #user {
				float: right;
				display: block;
			}
			header #wrapper #user li {
				float: right;
				list-style-type: none;
				color: black;
				padding-right: 5px;
				padding-left: 5px;
				font-size: 0.8em;
			}

			header #wrapper #nav {
				padding: 0px 0px;
				width: 100%;
				border: 1px solid #ddd;
				height: 42px;
				margin-bottom: 40px;
			}
			header #wrapper #nav li {
				list-style-type: none;
				float: left;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				color: black;
				border-right: 1px solid #ddd;
				font-size: 0.9em;
			}
			header #wrapper #nav #newListing {
				float: right;
				border-left: 1px solid #ddd;
				font-weight: 700;
				margin-right: -1px;
			}
			header #wrapper #categories {
				float: left;
				margin-top: -40px;
				margin-left: 0px;
				background-color: #fff;
				width: 100%;
			}
			header #wrapper #categories li {
				float: left;
				list-style-type: none;
				padding-right: 5px;
				padding-left: 5px;
				text-decoration: underline;
				color: black;
				font-size: 0.8em;
			}

			#menu {
				width: 250px;
				border: 1px solid #ddd;
				background-color: #fff;
				float: left;
			}
			#menu form {
				width: 90%;
				margin: 0px auto;
				padding: 10px 0px;
			}
			#menu form select {
				width: 100%;
			}
			#menu h6 {
				font-weight: 700;
			}

			main {
				float: right;
				min-width: 700px;
		        border: 1px solid #ddd;
		        background-color: white;
		        padding-top: 10px;
		        padding-bottom: 10px;
					}
		      main #wrapper {
		        width: 96%;
		        margin: 0px auto;
		      }


		</style>

		<header>
			<div id='wrapper'>
				<div id='topBar'>
					<a href='/'>
						<div id='logo'>

						</div>
					</a>
					<ul id='user'>

						<% if(user) { %>
							<a href='/sign-out'>
								<li>
									Sign Out
								</li>
							</a>
							<a href='/watchlist'>
								<li>
									Watchlist (0)
								</li>
							</a>
							<a href='/messages'>
								<li>
									Messages (0)
								</li>
							</a>
							<a href='/wallet'>
								<li>
									<strong>Taskcoin</strong> 0
								</li>
							</a>
						<% } else { %>
							<a href='/sign-in'>
								<li>
									Sign In
								</li>
							</a>
							<a href='/sign-up'>
								<li>
									Sign Up
								</li>
							</a>
						<% } %>
					</ul>
				</div>
				<ul id='nav'>
					<a href='/'>
						<li>
							Services
						</li>
					</a>
					<a href='/requests'>
						<li>
							Requests
						</li>
					</a>
					<a href='/search'>
						<li>
							Search
						</li>
					</a>
					<a href='/taskcoin'>
						<li>
							TaskCoin
						</li>
					</a>
					<a href='/about'>
						<li>
							About
						</li>
					</a>
					<a href='/blog'>
						<li>
							Blog
						</li>
					</a>
					<% if(user) { %>
					<div id='newListing'>
						<a href='/new-listing'>
							<li>
								New Listing
							</li>
						</a>
					</div>
					<% } %>
				</ul>
			</div>
		</header>

		<div id='menu'>
			<form class='box-control'>
				<h6>
					Find services
				</h6>
				<label>
					Location
				</label>
				<br>
				<select id='location' name='location'>
					<option id='international' value='international' default selected>
						International
					</option>
					<option disabled>
						United States
					</option>
					<option disabled>
						Canada
					</option>
					<option disabled>
						New Zealand
					</option>
					<option disabled>
						Australia
					</option>
					<option disabled>
						United Kingdom
					</option>
				</select>
				<br>
				<label>
					Category
				</label>
				<br>
				<select id='category' name='category'>
					<option default>
					</option>
				</select>
				<br>
				<label>
					Sub-category
				</label>
				<br>
				<select id='subcategory' name='subcategory'>
					<option default>
					</option>
				</select>
				<br>
				<label>
					Feedback
				</label>
				<br>
				<select name='feedback'>
					<option value='all' default>
						All
					</option>
					<option value='5'>
						5
					</option>
					<option value='4'>
						4
					</option>
					<option value='3'>
						3
					</option>
					<option value='2'>
						2
					</option>
					<option value='1'>
						1
					</option>
				</select>
				<br>
				<label>
					Time
				</label>
				<br>
				<select name='time'>
					<option value='all' default>
						All
					</option>
					<option value='24'>
						24 hours
					</option>
					<option value='3'>
						3 days
					</option>
					<option value='1'>
						1 week
					</option>
				</select>
				<br>
				<input type='submit' class='submit-control' value='Find' />
			</form>
		</div>

    <main>
      <div id='wrapper'>
      	<h5>
      		<%- category %>
      	</h5>
      	<hr>
        <ul>

        </ul>
      </div>
    </main>

	<script type='text/javascript'>
    $.get('/listing/category', function(callback) {
      if(callback == '404') {
        return 0;
      } else {
        for(var categories in callback) {
          $('#menu #category').append('<option value="'+callback[categories]['category']+'">'+callback[categories]['category']+'</option>>');
        }
      }
    });

    $('#category').change(function() {
      var sub = $('#category option:selected').text();
      $.get('/listing/subcategories/'+sub, function(callback) {
        for(var subCategory in callback) {
          if(callback[subCategory]['category'] == String(sub)) {
            $('#menu #subcategory').append('<option value="'+callback[subCategory]['_id']+'">'+callback[subCategory]['subCategory']+'</option>');
          }
        };
      });
    });

    $.get('/listing/subcategories/<%- category %>', function(callback) {
      for(var category in callback) {
      	$('main #wrapper ul').append('<li><a href="">'+callback[category]['subCategory']+'</a></li>');
      	console.log(callback[category]);
      }
    });
</script>
	</body>
</html>
