<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/jquery.js" type='text/javascript'></script>
		<title><%- title %></title>
		<style>
			body, html {
				background-color: #fafafa;
				width: 100%;
				margin: 0px auto;
				padding: 0px 0px;
				font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
				height: 100%;
			}

			.pagination #right {
				float: right;
			}

			.card #price {
				float: right;
				text-align: right;
				color: #216C2A;
				font-weight: 500;
			}

			.brand-logo {
				margin-left: 15px;
			}


		    header, main, footer {
		        padding-left: 300px;
		    }

		    @media only screen and (max-width : 992px) {
		        header, main, footer {
		        	padding-left: 0;
		        }
		    }

		    #errorReason {
		    	color: #ef5350;
		    	font-size: 14px;
		    	margin-bottom: 15px;
		    }

		    .sidenav #userContent {
		    	border-bottom: 1px solid #ddd;
		    }

		    .amount {
		    	text-align: right;
		    	float: right;
		    }
          
			footer {
				border-top: 1px solid #ddd;
				padding-top: 15px;
				width: 100%;
			}

		</style>
	</head>
	<body>

		<header>
			<nav class="light-blue darken-1 nav-extended">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo"><%- websiteName %></a>
					<ul class="right hide-on-med-and-down">
						<% if(!user) { %>
						<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
						<% } else { %>
						<li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
						<li><a href="/user/messages"><i class="material-icons">message</i></a></li>
						<li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
						<% } %>
					</ul>
				</div>
			</nav>
		</header>

		<div class='sidenav sidenav-fixed'>
			<% if(user) { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
				<li><a class='grey-text' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
			</div>
			<% } else { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
				<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
			</div>
			<% } %>
			<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
			<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
			<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
			<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
			<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
		</div>

		<main>
			<div class='container-fluid'>
				<div class='row'>


					<div class='offset-m1 col m10 col s12'>
						<h4>
							New Service
						</h4>
						<br>
						<h5>
				         	General information
				        </h5>
				        <p>
				          	Provide general information about your listing
				        </p>

				        <% if(reason) { %>
				        <p id='errorReason'>
				      		<strong>Error</strong>: <%- reason %>
				      	</p>
				        <% } %>

					</div>

					<form method="post" action='/new-listing/<%- type %>'>


      				<div class="row">
						<div class='input-field offset-m1 col m10 col s12'>
					        <input placeholder="Title..." required minlength='5' maxlength='80' name='title' id="title" type="text" class="validate">
      						<label class="active" for="title">Title</label>
					    </div>
					</div>


      				<div class="row">
						<div class='input-field offset-m1 col m5 col s12'>
						    <label class='active'>Category</label>
					        <select class="browser-default" required name='category' id='category' required>
							    <option default></option>
						    </select>
					    </div>	

						<div class='input-field col m5 col s12'>
						    <label class='active'>Sub-category</label>
					        <select class="browser-default" required name='subcategory' id='subcategory' required>
						    </select>
					    </div>	
					</div>

					<div class="row">
						<div class='input-field offset-m1 col m10 col s12'>
				        	<textarea id="textarea1" minlength="30" maxlength="10000" name='description' class="materialize-textarea"></textarea>
						    <label class='active'>Description</label>
					    </div>
					</div>


					<div class='row'>
						<div class='offset-m1 col m10 col s12'>
							<h5>
					          	Listing information
					        </h5>
					        <p>
					          	Provide the conditions of the listing
					        </p>
					    </div>
					</div>

					<div class="row">
						<div class='input-field offset-m1 col m5 col s12'>
						    <label class='active'>Location</label>
					        <select class="browser-default" required name='location' required>
							    <option default value='International'>
					        		International
					        	</option>
					        	<option disabled>
					        		Australia
					        	</option>
					        	<option disabled>
					        		Canada
					        	</option>
					        	<option disabled>
					        		New Zealand
					        	</option>
					        	<option disabled>
					        		United Kingdom
					        	</option>
					        	<option disabled>
					        		United States
					        	</option>
						    </select>	
						</div>

						<div class='input-field col m5 col s12'>
						    <label class='active'>Estimated completion time</label>
					        <select class="browser-default" required name='done' required>
					          <option default value='24'>
					            24 hours
					          </option>
					          <option value='3'>
					            3 days
					          </option>
					          <option value='1'>
					            1 week
					          </option>
					        </select>
						</div>
						<div class='input-field offset-m1 col m5 col s12'>
							<input required type='number' id='amount' name='amount' min='100' value='100' class="validate" />
							<label class='active'>
					          	Amount (TASK)
					        </label>
						</div>	
						<div class='input-field col m5 col s12'>
					        <input type='url' name='' placeholder='URL...' />
					        <label class='active'>
					          	Image (URL)
					        </label>
						</div>	
						<div class='offset-m1 col m10 col s12'>
							<% if(type == 'request') { %>
							<p id='requestFees'>
								<strong>Fee:</strong> <span class='amount' id='fee'>1</span>
								<br>
								<strong>Total:</strong> <span class='amount' id='total'>101</span>
							</p>
							<% } else { %>
							<p id='serviceFees'>
								<strong>Fee:</strong> <span class='amount' id='fee'>1</span>
								<br>
								<strong>Total:</strong> <span class='amount' id='total'>1</span>
							</p>
							<% } %>
						</div>
						<div class='input-field offset-m1 col m5 col s12'>
        					<input class='btn light-blue darken-1' type='submit' value='Submit' />
						</div>
					</div>


					<div class='row'>
						
					</div>

					</form>
				</div>

				<div class='row'>
					
					<div class='offset-m1 col m10 col s12'>
						<div class='col m12 col s12'>
								<h4>
								Taskcoin tips
							</h4>

							<p>	
								Read to get the best use out of Taskcoin. If you have more questions, read our <a href='/help'>help</a> page.
							</p>
						</div>
						<div class='col m4 col s12'>
							<div class='card'>
								<div class="card-content black-text">
					 				<span class="card-title">How to improve your listing</span>
					 				<p>
					 					If you want to gain the trust of your customers, create a sale, or attract customers. You need to have a quality listing. Here's what you do.
					 				</p>
					 			</div>

					 			<div class="card-action">
					 				<a class='blue-text' href='/help/user/why'>Learn More</a>
					 			</div>

							</div>		
						</div>
						<div class='col m4 col s12'>
							<div class='card'>
								<div class="card-content black-text">
					 				<span class="card-title">How to avoid being scammed</span>
					 				<p>
				 						We have integrated ways to help customers avoid being scammed on our platform. Learn about the features we have available to help you.
					 				</p>
					 			</div>

					 			<div class="card-action">
					 				<a class='blue-text' href='/help/user/why'>Learn More</a>
					 			</div>

							</div>		
						</div>
						<div class='col m4 col s12'>
							<div class='card'>
								<div class="card-content black-text">
					 				<span class="card-title">How to get customers</span>
					 				<p>
					 					Are you utilising the full potential of <%- websiteName %> to get customers to your listing? Here's what you can do...
					 				</p>
					 			</div>

					 			<div class="card-action">
					 				<a class='blue-text' href='/help/user/why'>Learn More</a>
					 			</div>

							</div>		
						</div>
					</div>	
					
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>	
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User	
						</strong>
						<% if(user) { %>
							<ul>
								<li>
									<a href='/sign-in'>
										Sign in
									</a>
								</li>
								<li>
									<a href='/sign-up'>
										Sign up
									</a>
								</li>
								<li>
									<a href='/help/user/why'>
										Why sign up
									</a>
								</li>
								<li>
									<a href='/help/user/credit'>
										Sign up credit
									</a>
								</li>
							</ul>
							<% } else { %>
							<ul>
								<li>
									<a href='/user/dashboard'>
										Dashboard
									</a>
								</li>
								<li>
									<a href='/user/messages'>
										Messages
									</a>
								</li>
								<li>
									<a href='/user/wallet'>
										Wallet
									</a>
								</li>
								<li>
									<a href='/user/requests/jobs'>
										Purchases
									</a>
								</li>
								<li>
									<a href='/user/services/jobs'>
										Selling
									</a>
								</li>
								<li>
									<a href='/sign-out'>
										Sign out
									</a>
								</li>
							</ul>
							<% } %>
					</div>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>
			$.get('/listing/category', function(callback) {
				if(callback == '404') {
					return 0;
				} else {
					for(var category in callback) {
						$('#category').append('<option value="'+callback[category]['category']+'">'+callback[category]['category']+'</option>');
					}
				}
			});

			$('#category').change(function() {
		      var sub = $('#category option:selected').text();
		      $.get('/listing/subcategories/'+sub, function(callback) {
		        for(var subCategory in callback) {
		          if(callback[subCategory]['category'] == String(sub)) {
		            $('#subcategory').append('<option value="'+callback[subCategory]['subCategory']+'">'+callback[subCategory]['subCategory']+'</option>');
		          }
		        };
		      });
		    });

		    if('<%- type %>' == 'request') {
				$('#amount').on("change", function() {
					var amount = $('#amount');

					var tax = Number(amount.val()) * 0.01;
					var tax = parseInt(tax);
					var tax = String(tax);

					var total = Number(amount.val()) * 1.01;
					var total = parseInt(total);
					var total = String(total);

					$('#requestFees  #fee').text(tax);
					$('#requestFees #total').text(total);
				});
			} else {
				$('#amount').on("change", function() {
					var amount = $('#amount');
					var tax = Number(amount.val()) * 0.01;
					var tax = parseInt(tax);
					var tax = String(tax);

					$('#serviceFees  #fee').text(tax);
					$('#serviceFees #total').text(tax);
				});
			}


		</script>	
	</body>
</html>
