<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
	<script src="/jquery.js" type='text/javascript'></script>
	<title><%- title %></title>
	<style>
	body, html {
		background-color: #fafafa;
		width: 100%;
		margin: 0px auto;
		padding: 0px 0px;
		font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
		height: 100%;
	}

	.pagination #right {
		float: right;
	}

	.card #price {
		float: right;
		text-align: right;
		color: #216C2A;
		font-weight: 500;
	}

	.brand-logo {
		margin-left: 15px;
	}


	header, main, footer {
		padding-left: 300px;
	}

	@media only screen and (max-width : 992px) {
		header, main, footer {
			padding-left: 0;
		}
	}

	.sidenav #userContent {
		border-bottom: 1px solid #ddd;
	}

	#profilePic {
		height: 40px;
		width: 40px;
		border: 1px solid #ddd;
		border-radius: 100%;
		margin-right: 15px;
		margin-left: 15px;
	}

	footer {
		border-top: 1px solid #ddd;
		padding-top: 15px;
		margin-top: -25px;
		width: 100%;
	}

</style>
</head>
<body>

	<header>
		<nav class="light-blue darken-1 nav-extended">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo"><%- websiteName %></a>
				<ul class="right hide-on-med-and-down">
					<% if(!user) { %>
					<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
					<% } else { %>
					<li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
					<li><a href="/user/messages"><i class="material-icons">message</i></a></li>
					<li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
					<% } %>
				</ul>
			</div>
		</nav>
	</header>

	<div class='sidenav sidenav-fixed'>
		<% if(user) { %>
		<div id='userContent'>
			<li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
			<li><a class='grey-text' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
		</div>
		<% } else { %>
		<div id='userContent'>
			<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
			<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
		</div>
		<% } %>
		<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
		<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
		<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
		<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
		<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
	</div>

	<main>
		<div class='container-fluid'>
			<div class='row'>
				<div class='offset-m1 col m10 col s10'>
					<br>
					<div class='row'>
						<div class='col m12 col s12'>
							<div class='card'>
								<div class="card-content black-text">
									<span id='disputeTitle' class="card-title">
										Search
									</span>
									<form method="get" action="/search/results" class='box-control'>
										<div class='row'>
											<div class='input-field col m6 col s12'>
												<select class="browser-default" id='type' required name='type'>
													<option default value='1'>Service</option>
													<option value='0'>Request</option>
												</select>
												<label class='active'>
													Type
												</label>
											</div>
											<div class='input-field col m6 col s12'>
												<input type='input' maxlength='30' id='keywords' name='keywords' />
												<label class='active'>
														Keywords
												</label>
											</div>
										</div>	
										<div class='row'>
											<div class='input-field col m6 col s12'>
												<label class='active'>
													Category
												</label>
												<br>
												<select class="browser-default" id='category' required name='category'>
													<option default></option>
												</select>
											</div>
											<div class='input-field col m6 col s12'>
												<label class='active'>
													Sub-category
												</label>
												<br>
												<select class="browser-default" id='subcategory' required name='subcategory'>
												</select>
											</div>
										</div>
										<div class='row'>
											<div class='input-field col m6 col s12'>
												<label class='active' for='location'>
													Location
												</label>
												<select class="browser-default" required id='location' name='location'>
													<option id='International' value='International' default selected>
														International
													</option>
													<option disabled>
														United States
													</option>
													<option disabled>
														Canada
													</option>
													<option disabled>
														New Zealand
													</option>
													<option disabled>
														Australia
													</option>
													<option disabled>
														United Kingdom
													</option>
												</select>
											</div>
										</div>
										<input type='submit' class='submit-control' value='Find' />
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col m12 col s12'>
							<h5>
								Search results
							</h5>
							<div class='row' id='results'>

							</div>
						</div>	
					</div>
					<div class='row'>
						<ul class="pagination">
							<li class='waves-effect'>
								<a href="/search/results?type=<%- type %>&keywords=<%- keywords %>&category=<%- category %>&subcategory=<%- subcategory %>&location=<%- location %>&p=<%- before %>"><i class="material-icons">chevron_left</i></a>
							</li>
							<li id='right' class="waves-effect">
								<a href="/search/results?type=<%- type %>&keywords=<%- keywords %>&category=<%- category %>&subcategory=<%- subcategory %>&location=<%- location %>&p=<%- next %>"><i class="material-icons">chevron_right</i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>  
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User  
						</strong>
						<% if(user) { %>
						<ul>
							<li>
								<a href='/sign-in'>
									Sign in
								</a>
							</li>
							<li>
								<a href='/sign-up'>
									Sign up
								</a>
							</li>
							<li>
								<a href='/help/user/why'>
									Why sign up
								</a>
							</li>
							<li>
								<a href='/help/user/credit'>
									Sign up credit
								</a>
							</li>
						</ul>
						<% } else { %>
						<ul>
							<li>
								<a href='/user/dashboard'>
									Dashboard
								</a>
							</li>
							<li>
								<a href='/user/messages'>
									Messages
								</a>
							</li>
							<li>
								<a href='/user/wallet'>
									Wallet
								</a>
							</li>
							<li>
								<a href='/user/requests/jobs'>
									Purchases
								</a>
							</li>
							<li>
								<a href='/user/services/jobs'>
									Selling
								</a>
							</li>
							<li>
								<a href='/sign-out'>
									Sign out
								</a>
							</li>
						</ul>
						<% } %>
					</div>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>
			$.get('/listing/category', function(callback) {
				if(callback == '404') {
					return 0;
				} else {
					for(var category in callback) {
						$('#category').append('<option value="'+callback[category]['category']+'">'+callback[category]['category']+'</option>');
					}
				}
			});

			$('#category').change(function() {
		      var sub = $('#category option:selected').text();
		      $.get('/listing/subcategories/'+sub, function(callback) {
		        for(var subCategory in callback) {
		          if(callback[subCategory]['category'] == String(sub)) {
		            $('#subcategory').append('<option value="'+callback[subCategory]['subCategory']+'">'+callback[subCategory]['subCategory']+'</option>');
		          }
		        };
		      });
		    });

		    $.get('/search/query?keywords=<%- keywords %>&type=<%- type %>&category=<%- category %>&subcategory=<%- subcategory %>&location=<%- location %>&p=<%- page %>', function(callback) {
					if(callback == '0') {
						return 0;
					} else {
						for(var post in callback) {
							if(callback[post]['type'] == 1) {
								$('#results').append('<div class="col s12 col m4"> <div class="card"> <div class="card-image waves-effect waves-block waves-light"> <img class="activator" src="images/office.jpg"> </div> <div class="card-content"> <span class="card-title activator grey-text text-darken-4">'+callback[post]['title']+'</span> <p><a href="/s/'+callback[post]['_id']+'">Listing</a><span id="price">T'+callback[post]['amount']+'</span></p></div></div></div>');
							} else {
								$('#results').append('<div class="col s12 col m4"> <div class="card"> <div class="card-image waves-effect waves-block waves-light"> <img class="activator" src="images/office.jpg"> </div> <div class="card-content"> <span class="card-title activator grey-text text-darken-4">'+callback[post]['title']+'</span> <p><a href="/r/'+callback[post]['_id']+'">Listing</a><span id="price">T'+callback[post]['amount']+'</span></p></div></div></div>');
							}
							
							
						}
					}
				});
		</script>
	</body>
</html>
