<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/jquery.js" type='text/javascript'></script>
		<title><%- title %></title>
		<style>
			body, html {
				background-color: #fafafa;
				width: 100%;
				margin: 0px auto;
				padding: 0px 0px;
				font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
				height: 100%;
			}

			.pagination #right {
				float: right;
			}

			.brand-logo {
				margin-left: 15px;
			}


		    header, main, footer {
		        padding-left: 300px;
		    }

		    @media only screen and (max-width : 992px) {
		        header, main, footer {
		        	padding-left: 0;
		        }
		    }

		    .card #wrapper {
		    	width: 90%;
		    	margin: 0px auto;
		    	padding-top: 1px;
		    	padding-bottom: 35px;
		    }
		    .card #wrapper #description {
		    	border-top: 1px solid #ddd;
		    	padding-top: 20px;
		    }

		    #profile {

		    }

		    #profile img {
		    	width: 75px;
		    	height: 75px;
		    	border: 1px solid #ddd;
		    	border-radius: 100%; 
		    	margin: 15px 25px 8px;
		    	position: absolute;
		    }
		    #profile h6 {
		    	margin-left: 125px;
		    	margin-top: 13px;
		    }
		    #profile #feedback {
		    	margin-left: 125px;
		    	margin-top: -5px;
		    }
		    #profile #feedback span {
		    	font-size: 0.65em;
		    	margin-top: 3px;
		    	margin-left: 5px;
		    	position: absolute;
		    }
		    #profile #description {
		    	margin-left: 25px;
		    	padding-top: 10px;'
		    	font-size: 0.8em;
		    	border-top: 1px solid #ddd;
		    }

		    #additionalInfo {
		    	font-size: 0.9em;
		    	margin-top: -15px;
		    }

		    #price {
		    	margin-top: -5px;
		    	font-size: 1.2em;
				color: #216C2A;
				font-weight: 500;
				margin-bottom: 25px;
		    }

		    #feedbackRow #wrapper {
		    	margin: 0px auto;
		    	width: 90%;
		    	padding-top: 5px;
		    	padding-bottom: 5px;
		    }
		    #feedbackRow blockquote {
		    	margin-top: -10px;
		    	font-weight: 500;
		    }
		    #wrapper #username {
		    	margin-top: -5px;
		    	margin-bottom: 5px;
		    	font-size: 0.9em;	
		    }

		    #specification {
		    	border-top: 1px solid #ddd;
		    }	
		    #specification span {
		    	float: right;
		    	text-align: right;
		    	font-weight: 100;
		    }

		    .sidenav #userContent {
		    	border-bottom: 1px solid #ddd;
		    }
          
			footer {
				border-top: 1px solid #ddd;
				padding-top: 15px;
				width: 100%;
			}

		</style>
	</head>
	<body>

		<header>
			<nav class="light-blue darken-1 nav-extended">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo"><%- websiteName %></a>
					<ul class="right hide-on-med-and-down">
						<% if(!user) { %>
						<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
						<% } else { %>
						<li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
						<li><a href="/user/messages"><i class="material-icons">message</i></a></li>
						<li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
						<% } %>
					</ul>
				</div>
			</nav>
		</header>

		<div class='sidenav sidenav-fixed'>
			<% if(user) { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
				<li><a class='grey-text' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
			</div>
			<% } else { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
				<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
			</div>
			<% } %>
			<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
			<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
			<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
			<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
			<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
		</div>

		<main>
			<div class='container-fluid'>
				<div class='row'>
					<div class='offset-m1 col m10 s10'>
						<br>

						<div class='container-fluid'>
							<div class='row'>
								<div class='col m6 col s6'>

								</div>
								<div class='col m6 col s6'>
									<div class='card'>
										<div id='wrapper'>
											<h4>
												<%- listingTitle %>
											</h4>
											<p id='price'>
												T<%- listingAmount %>
											</p>
											<% if(user) { %>
												<% if(op == user.username) { %>
													<a class='light-blue darken-1 btn' href='/listing/<%- listingID %>/offers'>
														View Offers
													</a>
													<br>
													<a id='addToWatchlist' href='/listing/<%- listingID %>/manage'>
														Manage
													</a>
												<% } else { %>
												<a class='light-blue darken-1 btn' href='/listing/<%- listingID %>/buy'>
													Make Offer
												</a>
												<br>
												<a id='addToWatchlist' href='/listing/<%- listingID %>/watchlist'>
													Add to watchlist
												</a>
												<% } %>
											<% } else { %>
												Sign in to see more
											<% } %>
											<br>
											<br>	
											<p id='specification'>
												<ul>
													<li>
														<strong>
															Category
														</strong>	
														<span class='right'>
															<%- listingCategory %>
														</span>
													</li>
													<li>
														<strong>
															Sub-category
														</strong>
														<span class='right'>
															<%- listingSubCategory %>
														</span>
													</li>
													<li>
														<strong>
															Estimated completion time
														</strong>
														<span class='right'>
															<% if(listingDone == '24') { %>
															24 hours
															<% } else if(listingDone == '3') { %>
															3 days
															<% } else { %>	
															1 week
															<% } %>
														</span>
													</li>
													<li>
														<strong>
															Location
														</strong>
														<span class='right'>
															<%- listingLocation %>
														</span>
													</li>
													<li>
														<strong>
															Type
														</strong>
														<span class='right'>
															<% if(listingType == 0) { %>
															Request
															<% } else { %>
															Service
															<% } %>
														</span>
													</li>
												</ul>
											</p>
											<p id='description'>
												<%- listingDescription %>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class='offset-m1 col m10 s10'>
						<h4>
							Feedback
						</h4>
						<div class='row' id='feedbackRow'>
								
						</div>
						<a class='btn light-blue darken-1' href='/u/<%- op %>/feedback'>
							View More
						</a>
					</div>

					<div class='offset-m1 col m10 s10'>
						<h4>
							User
						</h4>
						<div id='profile' class='card'>
							<div class='container-fluid'>
								<div class='row'>
									<div class='col m12 col s12'>
										<div class='image'>
											<img src='' />
										</div>
										<h6>
											<%- op %>
										</h6>
										<p id='feedback'> 
											<i class='tiny material-icons'>star</i> <span>Feedback: <a id='feedbackCount' href='/u/<%- op %>/feedback'></a></span>
										</p>
									</div>
								</div>
								<div class='row'>
									<div class='col m11 col s12'>
										<p id='description'>
											<%- opBio %>
										</p>
									</div>
								</div>
							</div>
						</div>
						<p id='additionalInfo'>
							Joined: <%- opJoinDate %> | Services: <span id='serviceCount'></span> | Requests: <span id='requestCount'></span> 
						</p>
						<a class='btn light-blue darken-1' href='/u/<%- op %>'>
							See More
						</a>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>	
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User	
						</strong>
						<% if(user) { %>
							<ul>
								<li>
									<a href='/sign-in'>
										Sign in
									</a>
								</li>
								<li>
									<a href='/sign-up'>
										Sign up
									</a>
								</li>
								<li>
									<a href='/help/user/why'>
										Why sign up
									</a>
								</li>
								<li>
									<a href='/help/user/credit'>
										Sign up credit
									</a>
								</li>
							</ul>
							<% } else { %>
							<ul>
								<li>
									<a href='/user/dashboard'>
										Dashboard
									</a>
								</li>
								<li>
									<a href='/user/messages'>
										Messages
									</a>
								</li>
								<li>
									<a href='/user/wallet'>
										Wallet
									</a>
								</li>
								<li>
									<a href='/user/requests/jobs'>
										Purchases
									</a>
								</li>
								<li>
									<a href='/user/services/jobs'>
										Selling
									</a>
								</li>
								<li>
									<a href='/sign-out'>
										Sign out
									</a>
								</li>
							</ul>
							<% } %>
					</div>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>
			$.get('/u/<%- op %>/servicescount', function(callback) {
				$('#serviceCount').append(callback);
			});

			$.get('/u/<%- op %>/requestscount', function(callback) {
				$('#requestCount').append(callback);
			});

			$.get('/api/u/<%- op %>/feedbackcount', function(callback) {
				$('#feedbackCount').append(callback);
			});

			$.get('/api/u/<%- op %>/threeback?listingID=<%- listingID %>', function(callback) {
				if(callback == '0') {
					$('#feedbackRow').append('<p>No feedback yet.</p>');
				} else {
					for(var feedback in callback) {
						if(callback[feedback]['rating'] == true) {
							$('#feedbackRow').append("<div class='col m4 col s12'><div class='card-content black-text'><div id='profile' class='card'> <div id='wrapper'> <p> <i class='tiny material-icons'>thumb_up</i></p> <blockquote>"+callback[feedback]['reason']+"</blockquote> <p id='username'> <a href='/u/"+callback[feedback]['customer']+"'>"+callback[feedback]['customer']+"</a>, <span title='"+callback[feedback]['date']+"'>"+callback[feedback]['date'].slice(0,4)+"</span> </p> </div> </div> </div></div>");
						} else {
							$('#feedbackRow').append("<div class='col m4 col s12'><div class='card-content black-text'><div id='profile' class='card'> <div id='wrapper'> <p> <i class='tiny material-icons'>thumb_down</i></p> <blockquote>"+callback[feedback]['reason']+"</blockquote> <p id='username'> <a href='/u/"+callback[feedback]['customer']+"'>"+callback[feedback]['customer']+"</a>, <span title='"+callback[feedback]['date']+"'>"+callback[feedback]['date'].slice(0,4)+"</span> </p> </div> </div> </div></div>");
						}
					}
				}
			});
		</script>
	</body>
</html>
