<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/jquery.js" type='text/javascript'></script>
		<title><%- title %></title>
		<style>
			body, html {
				background-color: #fafafa;
				width: 100%;
				margin: 0px auto;
				padding: 0px 0px;
				font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
				height: 100%;
			}

			.pagination #right {
				float: right;
			}

			.brand-logo {
				margin-left: 15px;
			}


		    header, main, footer {
		        padding-left: 300px;
		    }

		    @media only screen and (max-width : 992px) {
		        header, main, footer {
		        	padding-left: 0;
		        }
		    }

		    .card #wrapper {
		    	width: 90%;
		    	margin: 0px auto;
		    	padding-top: 1px;
		    	padding-bottom: 35px;
		    }
		    .card #wrapper #description {
		    	border-top: 1px solid #ddd;
		    	padding-top: 20px;
		    }

		    #profile {

		    }

		    #profile img {
		    	width: 75px;
		    	height: 75px;
		    	border: 1px solid #ddd;
		    	border-radius: 100%; 
		    	margin: 15px 25px 8px;
		    	position: absolute;
		    }
		    #profile h6 {
		    	margin-left: 125px;
		    	margin-top: 13px;
		    }
		    #profile #feedback {
		    	margin-left: 125px;
		    	margin-top: -5px;
		    }
		    #profile #feedback span {
		    	font-size: 0.65em;
		    	margin-top: 3px;
		    	margin-left: 5px;
		    	position: absolute;
		    }
		    #profile #description {
		    	margin-left: 25px;
		    	padding-top: 10px;'
		    	font-size: 0.8em;
		    	border-top: 1px solid #ddd;
		    }

		    #additionalInfo {
		    	font-size: 0.9em;
		    	margin-top: -15px;
		    }

		    #price {
		    	margin-top: -5px;
		    	font-size: 1.2em;
				color: #216C2A;
				font-weight: 500;
				margin-bottom: 25px;
		    }

		    #feedback #wrapper {
		    	margin: 0px auto;
		    	width: 90%;
		    	padding-top: 5px;
		    	padding-bottom: 5px;
		    }
		    #wrapper blockquote {
		    	margin-top: -10px;
		    	font-weight: 500;
		    }
		    #wrapper #username {
		    	margin-top: -5px;
		    	margin-bottom: 5px;
		    	font-size: 0.9em;	
		    }

		    #specification {
		    	border-top: 1px solid #ddd;
		    }	
		    #specification span {
		    	float: right;
		    	text-align: right;
		    	font-weight: 100;
		    }

		    .sidenav #userContent {
		    	border-bottom: 1px solid #ddd;
		    }	

		    #profileUser {
		    	height: 30px;
		    	width: 30px;
		    	border-radius: 100%;
		    	border: 1px solid #ddd;
		    	margin-top: 15px;
		    	margin-bottom: -10px;
		    }

		    #offerUsername {
		    	font-size: 1em;
		    	margin: -40px 5px;
		    }

		    #acceptOffer {
		    	margin-top: -5px;
		    }
		    #declineOffer {
		    	margin-left: 15px;
		    }

		    #offerWrapper {
		    	width: 90%;
		    	margin: 0px auto;
		    }

		    .card #amount {
		    	font-size: 1.1em;
				color: #216C2A;
				font-weight: 500;
				margin-top: 10px;
		    }
		    .card #note {
		    	border-top: 1px solid #ddd;
		    	padding-top: 10px;
		    }
          
			footer {
				border-top: 1px solid #ddd;
				padding-top: 15px;
				width: 100%;
			}

		</style>
	</head>
	<body>

		<header>
			<nav class="light-blue darken-1 nav-extended">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo"><%- websiteName %></a>
					<ul class="right hide-on-med-and-down">
						<% if(!user) { %>
						<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
						<% } else { %>
						<li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
						<li><a href="/user/messages"><i class="material-icons">message</i></a></li>
						<li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
						<% } %>
					</ul>
				</div>
			</nav>
		</header>

		<div class='sidenav sidenav-fixed'>
			<% if(user) { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
				<li><a class='grey-text' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
			</div>
			<% } else { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
				<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
			</div>
			<% } %>
			<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
			<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
			<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
			<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
			<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
		</div>

		<main>
			<div class='container-fluid'>
				<div class='row'>
					<div class='offset-m1 col m10 s10'>	
						<div class='container-fluid'>
							<div class='row'>
								<div class='col m6 col s6'>
									<h4>
										View offers
									</h4>
									<% if(offers) { %>
										<% var offer = JSON.parse(offers); %>
										<% for(var card in offer) { %>
											<div class='card'>
												<div id='offerWrapper'>
													<img src='' id='profileUser' />
													<% if(offer[card]['worker'] == listingUsername) { %>
													<a href="/u/<%- offer[card]['customer'] %>" id='offerUsername'>
														<%- offer[card]['customer'] %>
													</a>
													<% } else { %>
													<a href="/u/<%- offer[card]['worker'] %>" id='offerUsername'>
														<%- offer[card]['worker'] %>
													</a>
													<% } %>
													<p id='amount'>
														T<%- offer[card]['amount'] %>
													</p>
													<% if(offer[card]['note']) { %>
														<p id='note'>
															<%- offer[card]['note'] %>
														</p>
													<% } %>
												</div>
									 			<div class="card-action">
									 				<a id='acceptOffer' class='btn light-blue darken-1' href="/offer/accept/<%- offer[card]['_id'] %>">Accept</a>
									 				<a id='declineOffer' class='blue-text' href="/offer/decline/<%- offer[card]['_id'] %>" %>'>Decline</a>
									 			</div>
											</div>
										<% } %>
									<% } else { %>
									<p>
										No offers available.
									</p>
									<% } %>
								</div>
								<br>
								<div class='col m6 col s6'>
									<div class='card'>
										<div id='wrapper'>
											<h4>
												<%- listingTitle %>
											</h4>
											<p id='price'>
												T<%- listingAmount %>
											</p>	
											<p id='specification'>
												<ul>
													<li>
														<strong>
															Category
														</strong>	
														<span class='right'>
															<%- listingCategory %>
														</span>
													</li>
													<li>
														<strong>
															Sub-category
														</strong>
														<span class='right'>
															<%- listingSubCategory %>
														</span>
													</li>
													<li>
														<strong>
															Estimated completion time
														</strong>
														<span class='right'>
															<% if(listingDone == '24') { %>
															24 hours
															<% } else if(listingDone == '3') { %>
															3 days
															<% } else { %>	
															1 week
															<% } %>
														</span>
													</li>
													<li>
														<strong>
															Location
														</strong>
														<span class='right'>
															<%- listingLocation %>
														</span>
													</li>
													<li>
														<strong>
															Type
														</strong>
														<span class='right'>
															<% if(listingType == 0) { %>
															Request
															<% } else { %>
															Service
															<% } %>
														</span>
													</li>
												</ul>
											</p>
											<p id='description'>
												<%- listingDescription %>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>	
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User	
						</strong>
						<% if(user) { %>
							<ul>
								<li>
									<a href='/sign-in'>
										Sign in
									</a>
								</li>
								<li>
									<a href='/sign-up'>
										Sign up
									</a>
								</li>
								<li>
									<a href='/help/user/why'>
										Why sign up
									</a>
								</li>
								<li>
									<a href='/help/user/credit'>
										Sign up credit
									</a>
								</li>
							</ul>
							<% } else { %>
							<ul>
								<li>
									<a href='/user/dashboard'>
										Dashboard
									</a>
								</li>
								<li>
									<a href='/user/messages'>
										Messages
									</a>
								</li>
								<li>
									<a href='/user/wallet'>
										Wallet
									</a>
								</li>
								<li>
									<a href='/user/requests/jobs'>
										Purchases
									</a>
								</li>
								<li>
									<a href='/user/services/jobs'>
										Selling
									</a>
								</li>
								<li>
									<a href='/sign-out'>
										Sign out
									</a>
								</li>
							</ul>
							<% } %>
					</div>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>

		</script>
	</body>
</html>
