<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/jquery.js" type='text/javascript'></script>
		<title><%- title %></title>
		<style>
			body, html {
				background-color: #fafafa;
				width: 100%;
				margin: 0px auto;
				padding: 0px 0px;
				font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
				height: 100%;
			}

			.pagination #right {
				float: right;
			}

			.card #price {
				float: right;
				text-align: right;
				color: #216C2A;
				font-weight: 500;
			}

			.brand-logo {
				margin-left: 15px;
			}


		    header, main, footer {
		        padding-left: 300px;
		    }

		    @media only screen and (max-width : 992px) {
		        header, main, footer {
		        	padding-left: 0;
		        }
		    }

		    .sidenav #userContent {
		    	border-bottom: 1px solid #ddd;
		    }

		    #compose {
		    	float: right;
		    }

		    .deleteMessage {
		    	margin-left: 10px;
		    	padding-top: 10px;
		    }
          
			footer {
				border-top: 1px solid #ddd;
				padding-top: 15px;
				width: 100%;
			}

		</style>
	</head>
	<body>

		<header>
			<nav class="light-blue darken-1 nav-extended">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo"><%- websiteName %></a>
					<ul class="right hide-on-med-and-down">
						<% if(!user) { %>
						<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
						<% } else { %>
						<li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
						<li><a href="/user/messages"><i class="material-icons">message</i></a></li>
						<li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
						<% } %>
					</ul>
				</div>
			</nav>
		</header>

		<div class='sidenav sidenav-fixed'>
			<% if(user) { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
				<li><a class='grey-text' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
				<li><a class='grey-text' href="/user/messages"><i class="material-icons">mail</i> Messages</a></li>
				<li><a class='grey-text' href="/user/messages/compose"><i class="material-icons">add_circle</i> Compose Message</a></li>
				<li><a class='grey-text' href="/user/messages/sent"><i class="material-icons">send</i> Messages Sent</a></li>
			</div>
			<% } else { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
				<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
			</div>
			<% } %>
			<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
			<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
			<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
			<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
			<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
		</div>

		<main>
			<div class='container-fluid'>
				<div class='row'>
					<div class='offset-m1 col m10 s10'>
						<br>
						<h4>
							Compose
							<a id='compose' class='btn light-blue darken-1' href='/user/messages/compose'>Messages</a>
						</h4>
						<form method='post' action=''>
							<div class='row'>
								<div class='input-field col m12 col s12'>
									<input type='text' required minlength='5' value='<%- messageUsername %>' maxlength='30' name='username' />
									<label class="active" for='username'>
										Username
									</label>
								</div>
								<div class='input-field col m12 col s12'>
									<input type='text' required minlength='10' value='<%- messageTitle %>' maxlength='120' name='title' />
									<label class="active" for='title'>
										Title
									</label>
								</div>
								<div class='input-field col m12 col s12'>
									<textarea class='materialize-textarea' required minlength='30' maxlength='2000' name='message'></textarea>
									<label class="active" for='message'>
										Message
									</label>
								</div>
								<div class='input-field col m12 col s12'>
									<input type='submit' value='Send' class='btn light-blue darken-1' />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>	
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User	
						</strong>
						<% if(user) { %>
							<ul>
								<li>
									<a href='/sign-in'>
										Sign in
									</a>
								</li>
								<li>
									<a href='/sign-up'>
										Sign up
									</a>
								</li>
								<li>
									<a href='/help/user/why'>
										Why sign up
									</a>
								</li>
								<li>
									<a href='/help/user/credit'>
										Sign up credit
									</a>
								</li>
							</ul>
							<% } else { %>
							<ul>
								<li>
									<a href='/user/dashboard'>
										Dashboard
									</a>
								</li>
								<li>
									<a href='/user/messages'>
										Messages
									</a>
								</li>
								<li>
									<a href='/user/wallet'>
										Wallet
									</a>
								</li>
								<li>
									<a href='/user/requests/jobs'>
										Purchases
									</a>
								</li>
								<li>
									<a href='/user/services/jobs'>
										Selling
									</a>
								</li>
								<li>
									<a href='/sign-out'>
										Sign out
									</a>
								</li>
							</ul>
							<% } %>
					</div>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>

		</script>
	</body>
</html>
