<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/jquery.js" type='text/javascript'></script>
		<title><%- title %></title>
		<style>
			body, html {
				background-color: #fafafa;
				width: 100%;
				margin: 0px auto;
				padding: 0px 0px;
				font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
				height: 100%;
			}

			.pagination #right {
				float: right;
			}

			.card #price {
				float: right;
				text-align: right;
				color: #216C2A;
				font-weight: 500;
			}

			.brand-logo {
				margin-left: 15px;
			}


		    header, main, footer {
		        padding-left: 300px;
		    }

		    @media only screen and (max-width : 992px) {
		        header, main, footer {
		        	padding-left: 0;
		        }
		    }

		    .sidenav #userContent {
		    	border-bottom: 1px solid #ddd;
		    }

		    #profile {

		    }

		    #profile img {
		    	width: 75px;
		    	height: 75px;
		    	border: 1px solid #ddd;
		    	border-radius: 100%; 
		    	margin: 15px 25px 8px;
		    	position: absolute;
		    }
		    #profile h6 {
		    	margin-left: 125px;
		    	margin-top: 13px;
		    }
		    #profile #feedback {
		    	margin-left: 125px;
		    	margin-top: -5px;
		    }
		    #profile #feedback span {
		    	font-size: 0.65em;
		    	margin-top: 3px;
		    	margin-left: 5px;
		    	position: absolute;
		    }
		    #profile #description {
		    	margin-left: 25px;
		    	padding-top: 10px;'
		    	font-size: 0.8em;
		    	border-top: 1px solid #ddd;
		    }

		    #additionalInfo {
		    	font-size: 0.9em;
		    	margin-top: -15px;
		    }

		    #sendMessage {
		    	float: right;
		    	margin-top: 8px;
		    	font-size: 0.8em;
		    }

		    #feedback h5 {
		    	margin-left: 25px;
		    }

		    #feedbackRow #wrapper {
		    	margin: 0px auto;
		    	width: 90%;
		    	padding-top: 5px;
		    	padding-bottom: 5px;
		    }
		    #wrapper blockquote {
		    	margin-top: -10px;
		    	font-weight: 500;
		    }
		    #wrapper #username {
		    	margin-top: -5px;
		    	margin-bottom: 5px;
		    	font-size: 0.9em;	
		    }

          
			footer {
				border-top: 1px solid #ddd;
				padding-top: 15px;
				width: 100%;
			}

		</style>
	</head>
	<body>

		<header>
			<nav class="light-blue darken-1 nav-extended">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo"><%- websiteName %></a>
					<ul class="right hide-on-med-and-down">
						<% if(!user) { %>
						<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
						<% } else { %>
						<li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
						<li><a href="/user/messages"><i class="material-icons">message</i></a></li>
						<li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
						<% } %>
					</ul>
				</div>
			</nav>
		</header>

		<div class='sidenav sidenav-fixed'>
			<% if(user) { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
				<li><a class='grey-text' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
			</div>
			<% } else { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
				<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
			</div>
			<% } %>
			<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
			<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
			<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
			<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
			<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
		</div>

		<main>
			<div class='container-fluid'>
				<div class='row'>
					<div class='offset-m1 col m6 col s10'>
						<br>
						<h4>
							Profile
						</h4>
					</div>		
					<div class='offset-m1 col m8 col s10'>
						<div id='profile' class='card'>
							<div class='container-fluid'>
								<div class='row'>
									<div class='col m12 col s12'>
										<div class='image'>
											<img src='<%- profileImage %>' />
										</div>
										<h6>
											<%- profileUsername %>
										</h6>
										<p id='feedback'> 
											<i class='tiny material-icons'>star</i> <span>Feedback: <a id='feedbackCount' href='/u/<%- profileUsername %>/feedback'></a></span>
										</p>
									</div>
								</div>
								<div class='row'>
									<div class='col m11 col s12'>
										<p id='description'>
											<%- profileBio %>
										</p>
									</div>
								</div>
							</div>
						</div>
						<p id='additionalInfo'>
							Joined: <%- profileJoined %> | Services: <span id='serviceCount'></span> | Requests: <span id='requestCount'></span> 
						</p>
					</div>
					<div class='col m2 col s10'>
						<a id='sendMessage' class='waves-effect waves-light light-blue darken-1 btn' href=''>
							Send Message
						</a>
					</div>
					<div class='offset-m1 col m10 col s6'>
						<h4>
							Feedback
						</h4>
						<div id='feedbackRow' class='row'>
						</div>
						<div class='col s12'>
							<ul class="pagination">
								<li class='waves-effect'>
									<a href="/u/<%- profileUsername %>/feedback?p=<%- pageBack %>"><i class="material-icons">chevron_left</i></a>
								</li>
								<li id='right' class="waves-effect">
									<a href="/u/<%- profileUsername %>/feedback?p=<%- pageNext %>"><i class="material-icons">chevron_right</i></a>
								</li>
							</ul>
						</div>
						<br>
						<a href='/u/<%- profileUsername %>/trust'>
							VIEW TRUST
						</a>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>	
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User	
						</strong>
						<% if(user) { %>
							<ul>
								<li>
									<a href='/sign-in'>
										Sign in
									</a>
								</li>
								<li>
									<a href='/sign-up'>
										Sign up
									</a>
								</li>
								<li>
									<a href='/help/user/why'>
										Why sign up
									</a>
								</li>
								<li>
									<a href='/help/user/credit'>
										Sign up credit
									</a>
								</li>
							</ul>
							<% } else { %>
							<ul>
								<li>
									<a href='/user/dashboard'>
										Dashboard
									</a>
								</li>
								<li>
									<a href='/user/messages'>
										Messages
									</a>
								</li>
								<li>
									<a href='/user/wallet'>
										Wallet
									</a>
								</li>
								<li>
									<a href='/user/requests/jobs'>
										Purchases
									</a>
								</li>
								<li>
									<a href='/user/services/jobs'>
										Selling
									</a>
								</li>
								<li>
									<a href='/sign-out'>
										Sign out
									</a>
								</li>
							</ul>
							<% } %>
					</div>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>
			$.get('/u/<%- profileUsername %>/servicescount', function(callback) {
				$('#serviceCount').append(callback);
			});

			$.get('/u/<%- profileUsername %>/requestscount', function(callback) {
				$('#requestCount').append(callback);
			});

			$.get('/api/u/<%- profileUsername %>/feedbackcount', function(callback) {
				$('#feedbackCount').append(callback);
			});
				
			$.get('/api/u/<%- profileUsername %>/feedback', function(callback) {
				if(callback == '0') {
					$('#feedbackRow').append('No feedback yet.');
				} else {
					for(var feedback in callback) {
						if(callback[feedback]['rating'] == true) {
							$('#feedbackRow').append("<div class='col m4 col s12'><div class='card-content black-text'><div id='profile' class='card'> <div id='wrapper'> <p> <i class='tiny material-icons'>thumb_up</i></p> <blockquote>"+callback[feedback]['reason']+"</blockquote> <p id='username'> <a href='/u/"+callback[feedback]['customer']+"'>"+callback[feedback]['customer']+"</a>, <span title='"+callback[feedback]['date']+"'>"+callback[feedback]['date'].slice(0,4)+"</span> </p> </div> </div> </div></div>");
						} else {
							$('#feedbackRow').append("<div class='col m4 col s12'><div class='card-content black-text'><div id='profile' class='card'> <div id='wrapper'> <p> <i class='tiny material-icons'>thumb_down</i></p> <blockquote>"+callback[feedback]['reason']+"</blockquote> <p id='username'> <a href='/u/"+callback[feedback]['customer']+"'>"+callback[feedback]['customer']+"</a>, <span title='"+callback[feedback]['date']+"'>"+callback[feedback]['date'].slice(0,4)+"</span> </p> </div> </div> </div></div>");
						}
					}
				}
			});

		</script>
	</body>
</html>
