<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/jquery.js" type='text/javascript'></script>
		<title><%- title %></title>
		<style>
			body, html {
				background-color: #fafafa;
				width: 100%;
				margin: 0px auto;
				padding: 0px 0px;
				font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
				height: 100%;
			}

			.pagination #right {
				float: right;
			}

			.card #price {
				float: right;
				text-align: right;
				color: #216C2A;
				font-weight: 500;
			}

			.brand-logo {
				margin-left: 15px;
			}


		    header, main, footer {
		        padding-left: 300px;
		    }

		    @media only screen and (max-width : 992px) {
		        header, main, footer {
		        	padding-left: 0;
		        }
		    }

		    .sidenav #userContent {
		    	border-bottom: 1px solid #ddd;
		    }

		    #registerHere {
		    	text-transform: capitalize;
		    }
		    #error {
		    	color: #ef5350;
		    	font-size: 14px;
		    	margin-bottom: 15px;
		    }
          
			footer {
				border-top: 1px solid #ddd;
				padding-top: 15px;
				width: 100%;
			}

		</style>
	</head>
	<body>

		<header>
			<nav class="light-blue darken-1 nav-extended">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo"><%- websiteName %></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
					</ul>
				</div>
			</nav>
		</header>

		<div class='sidenav sidenav-fixed'>
			<div id='userContent'>
				<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
				<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
			</div>
			<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
			<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
			<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
			<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
			<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
		</div>

		<main>
			<div class='container-fluid'>
				<div class='row'>
					<div class='offset-m3 col m6 s12'>
						<br>

						<div class="card darken-1">
				 			<div class="card-content black-text">
				 				<span class="card-title">Sign In</span>
				 				<form method='post' action=''>
				      				<div class="row">
										<div class="col m12 col s12">
					      					<% if(reason) { %>
												<div id='error'>
													<strong>Error:</strong> <%- reason %>
												</div>
											<% } %>
										</div>
										<div class="input-field col m12 s12">
											<input placeholder="Username" required minlength='5' maxlength='30' name='username' id="username" type="text" class="validate">
      										<label class="active" for="username">Username</label>
										</div>
										<div class="input-field col m12 s12">
											<input class='input-control' required type='password' placeholder='Password' name='password' />
											<label class='active' for='password'>
												Password
											</label>
										</div>
										<div class="input-field col m12 s12">
											<input class='input-control' type='text' maxlength='6' placeholder='000000' name='authentication' />
											<label class='active' for='authentication'>
												2fa (optional)
											</label>
										</div>
										<div class='col m12 s12'>
											<input type='submit' value='Submit' class='waves-effect light-blue darken-1 waves-light btn' />
										</div>
									</div>
								</form>
			 				</div>
				 			<div class="card-action">
				 				<p>Don't have an account? <a id='registerHere' class='blue-text' href='/sign-up'>Sign Up.</a></p>
				 			</div>
				 		</div>

					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>	
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User	
						</strong>
							<ul>
								<li>
									<a href='/sign-in'>
										Sign in
									</a>
								</li>
								<li>
									<a href='/sign-up'>
										Sign up
									</a>
								</li>
								<li>
									<a href='/help/user/why'>
										Why sign up
									</a>
								</li>
								<li>
									<a href='/help/user/credit'>
										Sign up credit
									</a>
								</li>
							</ul>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>

		</script>
	</body>
</html>
