<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
   		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel='stylesheet' href='/bootstrap.min.css'>
		<script src="/jquery.js" type='text/javascript'></script>
	</head>

	<body>
	<style>
		body, html {
		      background-color: #eee;
		      max-width: 980px;
		      margin: 0px auto;
		    }
			header {
				
			}
			header #wrapper {
				display: block;
				float: none;
			}
			header #wrapper #topBar {
				height: 90px;
			}
			header #wrapper #logo {
				height: 90px;
				width: 200px;
				float: left;
				display: block;
			}

			header #wrapper #user {
				float: right;
				display: block;
			}
			header #wrapper #user li {
				float: right; 
				list-style-type: none;
				color: black;
				padding-right: 5px;
				padding-left: 5px;
				font-size: 0.8em;
			}

			header #wrapper #nav {
				padding: 0px 0px;
				width: 100%;
				border: 1px solid #ddd;
				height: 42px;
				margin-bottom: 40px;
			}
			header #wrapper #nav li {
				list-style-type: none;
				float: left;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				color: black;
				border-right: 1px solid #ddd;
				font-size: 0.9em;
			}
			header #wrapper #nav #newListing {
				float: right;
				border-left: 1px solid #ddd;
				font-weight: 700;	
				margin-right: -1px;
			}

			#mainPhoto {
				width: 100%;
				height: 300px;
				border: 1px solid #ddd;
				margin-bottom: 50px;
			}

			main {
				background-color: #fff;
				border: 1px solid #ddd;
				width: 100%;
			}

			#specification {

			}
			#specification #right {
				float: right;
				text-align: right;
			}

			#user {
				height: 140px;
			}
			#user #right {

			}
			#user #left {
				float: left;
				width: 160px;
				height: 140px;
				border-right: 1px solid #ddd;
			}	
			#user #left img {
				height: 125px;
				width: 125px;
				border-radius: 100%;
				border: 1px solid #ddd;
				margin: 8px 8px;
			}
	</style>

		<header>
			<div id='wrapper'>
				<div id='topBar'>
					<a href='/'>	
						<div id='logo'>

						</div>
					</a>
					<ul id='user'>

						<% if(user) { %>
							<a href='/sign-out'>
								<li>
									Sign Out
								</li>
							</a>	
							<a href='/watchlist'>
								<li>
									Watchlist (0)
								</li>
							</a>
							<a href='/messages'>
								<li>
									Messages (0)
								</li>
							</a>
							<a href='/wallet'>
								<li>
									<strong><%- websiteName %></strong> 0
								</li>
							</a>
						<% } else { %>
							<a href='/sign-in'>
								<li>
									Sign In
								</li>
							</a>	
							<a href='/sign-up'>
								<li>
									Sign Up
								</li>
							</a>	
						<% } %>		
					</ul>
				</div>
				<ul id='nav'>
					<a href='/'>
						<li>
							Services
						</li>
					</a>
					<a href='/requests'>
						<li>
							Requests
						</li>
					</a>
					<a href='/search'>
						<li>
							Search
						</li>
					</a>
					<a href='/taskly'>
						<li>
							<%- websiteName %>
						</li>
					</a>
					<a href='/about'>
						<li>
							About
						</li>
					</a>
					<a href='/blog'>
						<li>
							Blog
						</li>
					</a>
					<% if(user) { %>
					<div id='newListing'>
						<a href='/new-listing'>
							<li>
								New Listing
							</li>
						</a>
					</div>
					<% } %>
				</ul>
			</div>
		</header>

		<div class='container-fluid'>
			<div class='row'>
				<div class='col-sm-12 col-lg-7'>
					<main>
						<h3>
							Title title title title title title title
						</h3>
						<h5>
							TASK 0
						</h5>
						<hr>
						<ul id='specification'>
							<li>
								<strong>Category:</strong> <span id='right'> </span>
							</li>
							<li>
								<strong>Sub-category:</strong> <span id='right'> </span>
							</li>
							<li>
								<strong>Time length:</strong> <span id='right'> </span>
							</li>
							<li>
								<strong>Location:</strong> <span id='right'> </span>
							</li>
							<li>
								<strong>Type:</strong> <span id='right'>Request</span>
							</li>
							<li>
								<strong>Price:</strong> <span id='right'>TASK 0</span>
							</li>
						</ul>
						<hr>
						<p>
							paragraph paragraph paragraph paragraph
						</p>
					</main>
				</div>
				<div class='col-sm-12 col-lg-5'>
					<img src='' id='mainPhoto' />
				</div>
				<br>
				<div class='col-sm-12 col-lg-12'>
					<main id='user'>
						<div id='left'>
							<img src='' />
						</div>
						<div id='right'>
							<p>
								@username
								<hr>
								biography
								<br>
								<a href=''>
									Profile
								</a> | <a href=''>
									Feedback ()
								</a> | <a href=''>
									Services ()
								</a>  | <a href=''>
									Requests ()
								</a>
							</p>
						</div>
					</main>
				</div>
			</div>
		</div>

		<br>
		<br>

		<script type='text/javascript'>
			
		</script>

	</body>
</html>
