<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/jquery.js" type='text/javascript'></script>
		<title><%- title %></title>
		<style>
			body, html {
				background-color: #fafafa;
				width: 100%;
				margin: 0px auto;
				padding: 0px 0px;
				font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
				height: 100%;
			}

			.pagination #right {
				float: right;
			}

			.card #price {
				float: right;
				text-align: right;
				color: #216C2A;
				font-weight: 500;
			}

			.brand-logo {
				margin-left: 15px;
			}


		    header, main, footer {
		        padding-left: 300px;
		    }

		    @media only screen and (max-width : 992px) {
		        header, main, footer {
		        	padding-left: 0;
		        }
		    }

		    .sidenav #userContent {
		    	border-bottom: 1px solid #ddd;
		    }
          
			footer {
				border-top: 1px solid #ddd;
				padding-top: 15px;
				margin-top: -25px;
				width: 100%;
			}

		</style>
	</head>
	<body>

		<header>
			<nav class="light-blue darken-1 nav-extended">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo"><%- websiteName %></a>
					<ul class="right hide-on-med-and-down">
						<% if(!user) { %>
						<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
						<% } else { %>
						<li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
						<li><a href="/user/messages"><i class="material-icons">message</i></a></li>
						<li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
						<% } %>
					</ul>
				</div>
			</nav>
		</header>

		<div class='sidenav sidenav-fixed'>
			<% if(user) { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
				<li><a class='grey-text' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
			</div>
			<% } else { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
				<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
			</div>
			<% } %>
			<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
			<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
			<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
			<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
			<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
		</div>

		<main>
			<div class='container-fluid'>
				<div class='row'>
					<div class='offset-m1 col m10 s10'>
						<br>
						<h4>
							Economy
						</h4>
						<div class='row'>
							<div class='col m4 s12'>
								<div class='card'>
									<div class="card-content black-text">
										<span class="card-title">
											1%
										</span>
										<p>
											Listing Fee
										</p>
									</div>
								</div>
							</div>
							<div class='col m4 s12'>
								<div class='card'>
									<div class="card-content black-text">
										<span class="card-title">
											T100,000,000,000
										</span>
										<p>
											<%- websiteName %> 
										</p>
									</div>
								</div>
							</div>
							<div class='col m4 s12'>
								<div class='card'>
									<div class="card-content black-text">
										<span class="card-title">
											T2,500
										</span>
										<p>
											New User Grant
										</p>
									</div>
								</div>
							</div>
						</div>
						<% if(user) { %>
						<h4>
							Earn <%- websiteName %>
						</h4>
						<div class='row'>
							<div class='col m12 s12'>
								<div class='card'>
									<div class="card-content black-text">
										<span class="card-title">
											New User Grant
										</span>
										<p>
											When a user joins, they are automatically given T2,500. This helps distribute <%- websiteName %> and grow the user base.
										</p>
									</div>
									<div class="card-action">
						 				<a class='grey-text' disabled>Given</a>
						 			</div>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class='col m12 s12'>
								<div class='card'>
									<div class="card-content black-text">
										<span class="card-title">
											User Referral Incentive
										</span>
										<p>
											If a new user registers and uses your username as a referral, you will be automatically given T500.   
										</p>
									</div>
									<div class="card-action">
						 				<a class='grey-text' disabled>Invite Users</a>
						 			</div>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class='col m12 s12'>
								<div class='card'>
									<div class="card-content black-text">
										<span class="card-title">
											Original Supporter Grant
										</span>
										<p>
											If you have supported <%- websiteName %> on social platforms, you are entitled to a one-off T750 grant. This is to show our appreciation towards your support. View 'More Info' before 'Claim'.  
										</p>
									</div>
									<div class="card-action">
						 				<a class='blue-text' href='/user/messages/compose?username=OriginalSupporterGrant&title=Original%20Supporter%20Grant'>Claim</a>
						 				<a class='blue-text' href='/help/platform/grant'>More Info</a>
						 			</div>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class='col m6 s12'>
								<div class='card'>
									<div class="card-content black-text">
										<span class="card-title">
											Start a Service
										</span>
										<p>
											If you have any type of skill, you can start a service listing and earn money from rendering services to customers. 
										</p>
									</div>
									<div class="card-action">
						 				<a class='blue-text' href='/new-listing/service'>New Listing</a>
						 			</div>
								</div>
							</div>
							<div class='col m6 s12'>
								<div class='card'>
									<div class="card-content black-text">
										<span class="card-title">
											Complete a Request
										</span>
										<p>
											This is a listing created by a customer looking for a worker. They have a demand that needs to be fulfilled. If you have the ability to do the job, you can apply.
										</p>
									</div>
									<div class="card-action">
										<a class='blue-text' href='/requests'>Requests</a>
						 			</div>
								</div>
							</div>
						</div>

						<div class='row'>
							<div class='col m12 s12'>
								<div class='card'>
									<div class="card-content black-text">
										<span class="card-title">
											Vote on Dispute
										</span>
										<p>
											<%- websiteName %> has an open, democratic dispute system. You can vote for a side, but for a cost. If your side loses, you will lose what you put in. If your side wins, you gain what the losers put in.  
										</p>
									</div>
									<div class="card-action">
						 				<a class='blue-text' href='/disputes'>Disputes</a>
						 			</div>
								</div>
							</div>
						<% } %>
						<br>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>	
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User	
						</strong>
						<% if(user) { %>
							<ul>
								<li>
									<a href='/sign-in'>
										Sign in
									</a>
								</li>
								<li>
									<a href='/sign-up'>
										Sign up
									</a>
								</li>
								<li>
									<a href='/help/user/why'>
										Why sign up
									</a>
								</li>
								<li>
									<a href='/help/user/credit'>
										Sign up credit
									</a>
								</li>
							</ul>
							<% } else { %>
							<ul>
								<li>
									<a href='/user/dashboard'>
										Dashboard
									</a>
								</li>
								<li>
									<a href='/user/messages'>
										Messages
									</a>
								</li>
								<li>
									<a href='/user/wallet'>
										Wallet
									</a>
								</li>
								<li>
									<a href='/user/requests/jobs'>
										Purchases
									</a>
								</li>
								<li>
									<a href='/user/services/jobs'>
										Selling
									</a>
								</li>
								<li>
									<a href='/sign-out'>
										Sign out
									</a>
								</li>
							</ul>
							<% } %>
					</div>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>

		</script>
	</body>
</html>
