<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/jquery.js" type='text/javascript'></script>
		<title><%- title %></title>
		<style>
			body, html {
				background-color: #fafafa;
				width: 100%;
				margin: 0px auto;
				padding: 0px 0px;
				font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
				height: 100%;
			}

			.pagination #right {
				float: right;
			}

			.card #price {
				float: right;
				text-align: right;
				color: #216C2A;
				font-weight: 500;
			}

			.brand-logo {
				margin-left: 15px;
			}


		    header, main, footer {
		        padding-left: 300px;
		    }

		    @media only screen and (max-width : 992px) {
		        header, main, footer {
		        	padding-left: 0;
		        }
		    }

		    .sidenav #userContent {
		    	border-bottom: 1px solid #ddd;
		    }
          
			footer {
				border-top: 1px solid #ddd;
				padding-top: 15px;
				margin-top: -25px;
				width: 100%;
			}

		</style>
	</head>
	<body>

		<header>
			<nav class="light-blue darken-1 nav-extended">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo"><%- websiteName %></a>
					<ul class="right hide-on-med-and-down">
						<% if(!user) { %>
						<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
						<% } else { %>
						<li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
						<li><a href="/user/messages"><i class="material-icons">message</i></a></li>
						<li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
						<% } %>
					</ul>
				</div>
			</nav>
		</header>

		<div class='sidenav sidenav-fixed'>
			<% if(user) { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
				<li><a class='grey-text' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
			</div>
			<% } else { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
				<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
			</div>
			<% } %>
			<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
			<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
			<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
			<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
			<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
		</div>

		<main>
			<div class='container-fluid'>
				<div class='row'>
					<div class='offset-m1 col m10 s10'>
						<br>
						<% if(!user) { %>
							<div class="row">
							 	<div class="col s12 m6">
							 		<div class="card darken-1">
							 			<div class="card-content black-text">
							 				<span class="card-title">You are not registered!</span>
							 				<p>Join <%- websiteName %> now and receive 10,000 <%- websiteName %>. <%- websiteName %> can be earned or spent. Signing up is free.</p>
							 			</div>
							 			<div class="card-action">
							 				<a class='blue-text' href="/sign-up">Sign Up</a>
							 				<a class='blue-text' href='/help/user/why'>Learn More</a>
							 			</div>
							 		</div>
							 	</div>
							</div>	
						<% } else  { %>
							<h4>
								Your Requests
							</h4>
							<p>	
								The requests listings you have started.
							</p>

							<div class="row" id='yourRequests'>
							 	
							</div>	
						<% } %>

					 	<h4>
							Request listings
						</h4>
						<p>	
							Find requests to use. If you have a specific query, use the sidebar to search.
						</p>

						<div class='row' id='listings'>

						</div>

						<div class='col s12'>
							<ul class="pagination">
								<li class='waves-effect'>
									<a href="/requests?p=<%- before %>"><i class="material-icons">chevron_left</i></a>
								</li>
								<li id='right' class="waves-effect">
									<a href="/requests?p=<%- next %>"><i class="material-icons">chevron_right</i></a>
								</li>
							</ul>
						</div>

						<h4>
							<%- websiteName %> tips
						</h4>

						<p>	
							Read to get the best use out of <%- websiteName %>. If you have more questions, read our <a href='/help'>help</a> page.
						</p>

						<div class='row'>
							<div class="col s12 m4">
						 		<div class="card darken-1">
						 			<div class="card-content black-text">
						 				<span class="card-title">How to avoid being scammed</span>
						 				<p>We have integrated ways to help customers avoid being scammed on our platform. Learn about the features we have available to help you.</p>
						 			</div>
						 			<div class="card-action">
						 				<a class='blue-text' href='/help/user/why'>Learn More</a>
						 			</div>
						 		</div>
						 	</div>
						 	<div class="col s12 m4">
						 		<div class="card darken-1">
						 			<div class="card-content black-text">
						 				<span class="card-title">How you can make money</span>
						 				<p><%- websiteName %> is a platform for the exchange of services. You can make money on here by offering a service or fulfilling a request. Getting started has never been so easy.</p>
						 			</div>
						 			<div class="card-action">
						 				<a class='blue-text' href="/new-listing">New Listing</a>
						 				<a class='blue-text' href='/help/user/why'>Learn More</a>
						 			</div>
						 		</div>
						 	</div>
						 	<div class="col s12 m4">
						 		<div class="card darken-1">
						 			<div class="card-content black-text">
						 				<span class="card-title">Benefits of using <%- websiteName %></span>
						 				<p><%- websiteName %> is the biggest services market in the world. You can find and offer services easily. Learn about all of the benefits of using <%- websiteName %> and how it can help you.</p>
						 			</div>
						 			<div class="card-action">
						 				<a class='blue-text' href='/help/user/why'>Learn More</a>
						 			</div>
						 		</div>
						 	</div>
						</div>

					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>	
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User	
						</strong>
						<% if(user) { %>
							<ul>
								<li>
									<a href='/sign-in'>
										Sign in
									</a>
								</li>
								<li>
									<a href='/sign-up'>
										Sign up
									</a>
								</li>
								<li>
									<a href='/help/user/why'>
										Why sign up
									</a>
								</li>
								<li>
									<a href='/help/user/credit'>
										Sign up credit
									</a>
								</li>
							</ul>
							<% } else { %>
							<ul>
								<li>
									<a href='/user/dashboard'>
										Dashboard
									</a>
								</li>
								<li>
									<a href='/user/messages'>
										Messages
									</a>
								</li>
								<li>
									<a href='/user/wallet'>
										Wallet
									</a>
								</li>
								<li>
									<a href='/user/requests/jobs'>
										Purchases
									</a>
								</li>
								<li>
									<a href='/user/services/jobs'>
										Selling
									</a>
								</li>
								<li>
									<a href='/sign-out'>
										Sign out
									</a>
								</li>
							</ul>
							<% } %>
					</div>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>
			$.get('/api/requests?p=<%- page %>', function(callback) {
				if(callback == '404') {
					return 0;
				} else {
					for(var post in callback) {
						$('#listings').append('<div class="col s12 col m4"> <div class="card"> <div class="card-image waves-effect waves-block waves-light"> <img class="activator" src="images/office.jpg"> </div> <div class="card-content"> <span class="card-title activator grey-text text-darken-4">'+callback[post]['title']+'</span> <p><a href="/r/'+callback[post]['_id']+'">Listing</a><span id="price">T'+callback[post]['amount']+'</span></p></div></div></div>');
					}
				}
			});
		</script>

		<% if(user) { %>
			<script type='text/javascript'>
				var username = '<%- user.username %>';
				$.get('/u/'+username+'/requests', function(callback) {
				 	if(callback == '0') {
						$('#yourRequests').append('<div class="col s12 m5"> <div class="card darken-1"> <div class="card-content black-text"> <span class="card-title">This appears to be empty!</span> <p>Starting a request listing is an excellent way to get jobs done. It\'s easy to get started.</p> </div> <div class="card-action"> <a class="blue-text" href="/help/listing/start">Learn More</a> </div> </div> </div>');
					} else {
						for(var post in callback) {
							$('#yourRequests').append('<div class="col s12 col m4"> <div class="card"> <div class="card-image waves-effect waves-block waves-light"> <img class="activator" src="images/office.jpg"> </div> <div class="card-content"> <span class="card-title activator grey-text text-darken-4">'+callback[post]['title']+'</span> <p><a href="/r/'+callback[post]['_id']+'">Listing</a><span id="price">T'+callback[post]['amount']+'</span></p></div></div></div>');
						}
					}
				});
			</script>
		<% } %>
	</body>
</html>
