<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/jquery.js" type='text/javascript'></script>
		<title><%- title %></title>
		<style>
			body, html {
				background-color: #fafafa;
				width: 100%;
				margin: 0px auto;
				padding: 0px 0px;
				font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
				height: 100%;
			}

			.pagination #right {
				float: right;
			}

			.card #price {
				float: right;
				text-align: right;
				color: #216C2A;
				font-weight: 500;
			}

			.brand-logo {
				margin-left: 15px;
			}


		    header, main, footer {
		        padding-left: 300px;
		    }

		    @media only screen and (max-width : 992px) {
		        header, main, footer {
		        	padding-left: 0;
		        }
		    }

		    .sidenav #userContent {
		    	border-bottom: 1px solid #ddd;
		    }
          
			footer {
				border-top: 1px solid #ddd;
				padding-top: 15px;
				margin-top: -25px;
				width: 100%;
			}

		</style>
	</head>
	<body>

		<header>
			<nav class="light-blue darken-1 nav-extended">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo"><%- websiteName %></a>
					<ul class="right hide-on-med-and-down">
						<% if(!user) { %>
						<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
						<% } else { %>
						<li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
						<li><a href="/user/messages"><i class="material-icons">message</i></a></li>
						<li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
						<% } %>
					</ul>
				</div>
			</nav>
		</header>

		<div class='sidenav sidenav-fixed'>
			<% if(user) { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
				<li><a class='grey-text' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
			</div>
			<% } else { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
				<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
			</div>
			<% } %>
			<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
			<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
			<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
			<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
			<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
		</div>

		<main>
			<div class='container-fluid'>
				<div class='row'>
					<div class='offset-m1 col m10 s10'>
						<br>
						<% if(!user) { %>
							<div class="row">
							 	<div class="col s12 m6">
							 		<div class="card darken-1">
							 			<div class="card-content black-text">
							 				<span class="card-title">You are not registered!</span>
							 				<p>Join <%- websiteName %> now and receive 10,000 <%- websiteName %>. <%- websiteName %> can be earned or spent. Signing up is free.</p>
							 			</div>
							 			<div class="card-action">
							 				<a class='blue-text' href="/sign-up">Sign Up</a>
							 				<a class='blue-text' href='/help/user/why'>Learn More</a>
							 			</div>
							 		</div>
							 	</div>
							</div>	
						<% } %>
						<h4>
							Sitemap
						</h4>
						<br>

							<div class='row'>
								<div class='col s12 col m6'>
									<ul>
										<h5>
											General
										</h5>
										<li>
											<a href='/'>
												Index
											</a>
										</li>
										<li>
											<a href='/requests'>
												Requests
											</a>
										</li>
										<li>
											<a href='/disputes'>
												Disputes
											</a>
										</li>
										<li>
											<a href='/search'>
												Search
											</a>
										</li>
										<li>
											<a href='/about'>
												About
											</a>
										</li>
										<li>
											<a href='/help'>
												Help
											</a>
										</li>
										<li>
											<a href='/economy'>
												Economy
											</a>
										</li>
										<% if(user) { %>
										<li>
											<a href='/new-listing'>
												New Listing
											</a>
										</li>
										<li>
											<a href='/new-listing/service'>
												New Service
											</a>
										</li>
										<li>
											<a href='/new-listing/request'>
												New Request
											</a>
										</li>
										<% } %>
										<h5>
											User
										</h5>
										<% if (user) { %>
											<li>
												<a href='/sign-out'>
													Sign Out
												</a>
											</li>
											<li>
												<a href='/user/messages'>
													Messages
												</a>
											</li>
											<li>
												<a href='/user/wallet'>
													Wallet
												</a>
											</li>
											<li>
												<a href='/user'>
													Profile
												</a>
											</li>
											<li>
												<a href='/user/settings'>
													Settings
												</a>
											</li>
											<li>
												<a href='/user/activity'>
													User Activity
												</a>
											</li>

											<h5>
												Customer
											</h5>
											<li>
												<a href='/user/requests'>
													Requests
												</a>
											</li>
											<li>
												<a href='/user/requests/watchlist'>
													Watchlist
												</a>
											</li>
											<li>
												<a href='/user/requests/jobs'>
													Active Deals
												</a>
											</li>
											<li>
												<a href='/user/requests/jobs/completed'>
													Completed Deals
												</a>
											</li>
											<li>
												<a href='/user/requests/offers'>
													Offers Made
												</a>
											</li>
											<li>
												<a href='/user/requests/disputes'>
													Disputes
												</a>
											</li>
											<h5>
												Worker
											</h5>
											<li>
												<a href='/user/services'>
													Services
												</a>
											</li>
											<li>
												<a href='/user/services/completed'>
													Services Completed
												</a>
											</li>
											<li>
												<a href='/user/services/jobs'>
													Active Jobs
												</a>
											</li>
											<li>
												<a href='/user/services/jobs/completed'>
													Completed Jobs
												</a>
											</li>
											<li>
												<a href='/user/services/disputes'>
													Disputes
												</a>
											</li>
										<% } else { %>
											<li>
												<a href='/sign-up'>
													Sign Up
												</a>
											</li>
											<li>
												<a href='/sign-in'>
													Sign In
												</a>
											</li>
										<% } %>
									</ul>
								</div>
								<div class='col s12 m6'>
									<ul>
										<h5>
											User Help
										</h5>
										<li>
											<a href='/help/user/settings'>
												How to edit settings
											</a>
										</li>
										<li>
											<a href='/help/user/wallet'>
												How to manage wallet
											</a>
										</li>
										<li>
											<a href='/help/user/account'>
												How to secure your account
											</a>
										</li>
										<li>
											<a href='/help/user/profile'>
												Editing your profile
											</a>
										</li>
										<h5>
											Listing Help
										</h5>
										<li>
											<a href='/help/listing/start'>
												How to start a listing
											</a>
										</li>
										<li>
											<a href='/help/listing/edit'>
												How to edit a listing
											</a>
										</li>
										<li>
											<a href='/help/listing/remove'>
												How to remove a listing
											</a>
										</li>
										<li>
											<a href='/help/listing/fees'>
												Listing fees
											</a>
										</li>
										<li>
											<a href='/help/listing/type'>
												Can listing type be changed
											</a>
										</li>
										<li>
											<a href='/help/listing/report'>
												How to report listings
											</a>
										</li>
										<li>
											<a href='/help/listing/management'>
												Listing management
											</a>
										</li>
										<h5>
											Deal Help
										</h5>
										<li>
											<a href='/help/deal/feedback'>
												How to give feedback
											</a>
										</li>
										<li>
											<a href='/help/deal/dispute'>
												How to start dispute
											</a>
										</li>
										<li>
											<a href='/help/deal/offer'>
												How to revoke offer
											</a>
										</li>
										<li>
											<a href='/help/deal/deal'>
												How to see deal
											</a>
										</li>
										<li>
											<a href='/help/deal/options'>
												Alternative payment options
											</a>
										</li>
										<h5>
											Articles
										</h5>


										<h5>
											Advanced
										</h5>
										<li>
											<a href='/api'>API</a>
										</li>

									</ul>
								</div>
							</div>	


					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>	
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User	
						</strong>
						<% if(user) { %>
							<ul>
								<li>
									<a href='/sign-in'>
										Sign in
									</a>
								</li>
								<li>
									<a href='/sign-up'>
										Sign up
									</a>
								</li>
								<li>
									<a href='/help/user/why'>
										Why sign up
									</a>
								</li>
								<li>
									<a href='/help/user/credit'>
										Sign up credit
									</a>
								</li>
							</ul>
							<% } else { %>
							<ul>
								<li>
									<a href='/user/dashboard'>
										Dashboard
									</a>
								</li>
								<li>
									<a href='/user/messages'>
										Messages
									</a>
								</li>
								<li>
									<a href='/user/wallet'>
										Wallet
									</a>
								</li>
								<li>
									<a href='/user/requests/jobs'>
										Purchases
									</a>
								</li>
								<li>
									<a href='/user/services/jobs'>
										Selling
									</a>
								</li>
								<li>
									<a href='/sign-out'>
										Sign out
									</a>
								</li>
							</ul>
							<% } %>
					</div>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>

		</script>
	</body>
</html>
