<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/jquery.js" type='text/javascript'></script>
		<title><%- title %></title>
		<style>
			body, html {
				background-color: #fafafa;
				width: 100%;
				margin: 0px auto;
				padding: 0px 0px;
				font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
				height: 100%;
			}

			.pagination #right {
				float: right;
			}

			#price {
				float: right;
				text-align: right;
				color: #216C2A;
				font-weight: 500;
			}

			.brand-logo {
				margin-left: 15px;
			}


		    header, main, footer {
		        padding-left: 300px;
		    }

		    @media only screen and (max-width : 992px) {
		        header, main, footer {
		        	padding-left: 0;
		        }
		    }

		    .sidenav #userContent {
		    	border-bottom: 1px solid #ddd;
		    }

		    #disabledLink {
		    	cursor: not-allowed;
		    }

		    #profilePicture {
		    	width: 50px;
		    	height: 50px;
		    	border-radius: 100%;
		    	border: 1px solid #ddd;
		    	margin-top: 20px;
		    }

		    
          
			footer {
				border-top: 1px solid #ddd;
				padding-top: 15px;
				width: 100%;
			}

		</style>
	</head>
	<body>

		<header>
			<nav class="light-blue darken-1 nav-extended">
				<div class="nav-wrapper">
					<a href="/" class="brand-logo"><%- websiteName %></a>
					<ul class="right hide-on-med-and-down">
						<% if(!user) { %>
						<li><a href="/sign-in"><i class="material-icons">account_circle</i></a></li>
						<% } else { %>
						<li><a href="/user/wallet"><span class="badge white-text">T<%- user.taskcoin %></span></a></li>
						<li><a href="/user/messages"><i class="material-icons">message</i></a></li>
						<li><a href="/user/dashboard"><i class="material-icons">account_circle</i></a></li>
						<% } %>
					</ul>
				</div>
			</nav>
		</header>

		<div class='sidenav sidenav-fixed'>
			<% if(user) { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/new-listing"><i class="material-icons">add_circle</i> New Listing</a></li>
				<li><a class='grey-text grey lighten-3' href="/user/dashboard"><i class="material-icons">account_circle</i> User</a></li>
				<li><a class='grey-text' href="/user"><i class="material-icons">web</i> Profile</a></li>
				<li><a class='grey-text' href="/user/wallet"><i class="material-icons">account_balance_wallet</i> Wallet</a></li>
				<li><a class='grey-text' href="/user/settings"><i class="material-icons">settings</i> Settings</a></li>
				<li><a class='grey-text' href="/sign-out"><i class="material-icons">highlight_off</i> Sign Out</a></li>
				<li><a class='grey-text grey lighten-3' >Customer</a></li>
				<li><a class='grey-text' href="/user/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
				<li><a class='grey-text' href="/user/requests/watchlist"><i class="material-icons">list</i> Watchlist</a></li>
				<li><a class='grey-text' href="/user/requests/jobs"><i class="material-icons">chat_bubble</i> Active Deals</a></li>
				<li><a class='grey-text' href="/user/requests/jobs/completed"><i class="material-icons">turned_in</i> Completed Deals</a></li>
				<li><a class='grey-text' href="/user/requests/offers"><i class="material-icons">local_offer</i> Offers Made</a></li>
				<li><a class='grey-text' href="/user/requests/disputes"><i class="material-icons">people</i> Disputes</a></li>
				<li><a class='grey-text grey lighten-3'>Worker</a></li>
				<li><a class='grey-text' href="/user/services"><i class="material-icons">arrow_forward</i> Services</a></li>
				<li><a class='grey-text' href="/user/services/completed"><i class="material-icons">turned_in</i> Completed Services</a></li>
				<li><a class='grey-text' href="/user/services/jobs"><i class="material-icons">chat_bubble</i> Active Jobs</a></li>
				<li><a class='grey-text' href="/user/services/jobs/completed"><i class="material-icons">check</i> Completed Jobs</a></li>
				<li><a class='grey-text' href="/user/services/disputes"><i class="material-icons">people</i> Disputes</a></li>
			</div>
			<% } else { %>
			<div id='userContent'>
				<li><a class='grey-text' href="/sign-in"><i class="material-icons">account_circle</i> Sign In</a></li>
				<li><a class='grey-text' href="/sign-up"><i class="material-icons">add_circle</i> Sign Up</a></li>
			</div>
			<% } %>
			<li><a class='grey-text' href="/"><i class="material-icons">home</i> Home</a></li>
			<li><a class='grey-text' href="/services"><i class="material-icons">arrow_forward</i> Services</a></li>
			<li><a class='grey-text' href="/requests"><i class="material-icons">arrow_back</i> Requests</a></li>
			<li><a class='grey-text' href="/disputes"><i class="material-icons">group</i> Disputes</a></li>
			<li><a class='grey-text' href="/search"><i class="material-icons">search</i> Search</a></li>
			<br>
			<br>
			<br>
			<br>
		</div>

		<main>
			<div class='container-fluid'>
				<div class='row'>
					<div class='offset-m1 col m10 s10'>
						<br>
						<h4>
							Completed Listings
						</h4>

						<div id='listings' class='row'>
							
						</div>

					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col s12 offset-m1 col m3'>
						<strong>
							<%- websiteName %>
						</strong>
						<ul>
							<li>
								<a href='/about'>
									About
								</a>
							</li>
							<li>
								<a href='/economy'>
									Economy
								</a>
							</li>
							<li>
								<a href='/contact'>
									Contact
								</a>
							</li>
							<li>
								<a href='/help'>
									Help
								</a>
							</li>
						</ul>
					</div>	
					<div class='col s12 col m3'>
						<strong>
							Listing
						</strong>
						<ul>
							<li>
								<a href='/new-listing'>
									New listing
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New service
								</a>
							</li>
							<li>
								<a href='/new-listing/service'>
									New request
								</a>
							</li>
							<li>
								<a href='/search'>
									Search
								</a>
							</li>
							<li>
								<a href='/help/categories'>
									Categories
								</a>
							</li>
							<li>
								<a href='/help/rates'>
									Rates
								</a>
							</li>
						</ul>
					</div>
					<div class='col s12 col m3'>
						<strong>
							User	
						</strong>
						<% if(user) { %>
							<ul>
								<li>
									<a href='/sign-in'>
										Sign in
									</a>
								</li>
								<li>
									<a href='/sign-up'>
										Sign up
									</a>
								</li>
								<li>
									<a href='/help/user/why'>
										Why sign up
									</a>
								</li>
								<li>
									<a href='/help/user/credit'>
										Sign up credit
									</a>
								</li>
							</ul>
							<% } else { %>
							<ul>
								<li>
									<a href='/user/dashboard'>
										Dashboard
									</a>
								</li>
								<li>
									<a href='/user/messages'>
										Messages
									</a>
								</li>
								<li>
									<a href='/user/wallet'>
										Wallet
									</a>
								</li>
								<li>
									<a href='/user/requests/jobs'>
										Purchases
									</a>
								</li>
								<li>
									<a href='/user/services/jobs'>
										Selling
									</a>
								</li>
								<li>
									<a href='/sign-out'>
										Sign out
									</a>
								</li>
							</ul>
							<% } %>
					</div>
					<div class='col s12 col m2'>
						<strong>
							Misc
						</strong>
						<ul>
							<li>
								<a href='/api'>
									API
								</a>
							</li>
							<li>
								<a href='/sitemap'>
									Sitemap
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script type='text/javascript'>
			$.get('/api/user/services/completed', function(callback) {
				if(callback == '404') {

				} else {
					for(var post in callback) {
						$('#listings').append('<div class="col s12 col m4"> <div class="card"> <div class="card-image waves-effect waves-block waves-light"> <img class="activator" src="images/office.jpg"> </div> <div class="card-content"> <span class="card-title activator grey-text text-darken-4">'+callback[post]['title']+'</span> <p><a href="/s/'+callback[post]['_id']+'">Listing</a><span id="price">T'+callback[post]['amount']+'</span></p></div></div></div>');
					}
				}
			});
		</script>
	</body>
</html>
