<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
   		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel='stylesheet' href='/bootstrap.min.css'>
		<script src="/jquery.js" type='text/javascript'></script>
	</head>

	<body>
		<style>
		    body, html {
		      background-color: #eee;
		      max-width: 980px;
		      margin: 0px auto;
		    }
			header {

			}
			header #wrapper {
				display: block;
				float: none;
			}
			header #wrapper #topBar {
				height: 90px;
			}
			header #wrapper #logo {
				height: 90px;
				width: 200px;
				float: left;
				display: block;
			}

			header #wrapper #user {
				float: right;
				display: block;
			}
			header #wrapper #user li {
				float: right;
				list-style-type: none;
				color: black;
				padding-right: 5px;
				padding-left: 5px;
				font-size: 0.8em;
			}

			header #wrapper #nav {
				padding: 0px 0px;
				width: 100%;
				border: 1px solid #ddd;
				height: 42px;
				margin-bottom: 40px;
			}
			header #wrapper #nav li {
				list-style-type: none;
				float: left;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 10px;
				padding-bottom: 10px;
				color: black;
				border-right: 1px solid #ddd;
				font-size: 0.9em;
			}
			header #wrapper #nav #newListing {
				float: right;
				border-left: 1px solid #ddd;
				font-weight: 700;
				margin-right: -1px;
			}
			header #wrapper #categories {
				float: left;
				margin-top: -40px;
				margin-left: 0px;
				background-color: #fff;
				width: 100%;
			}
			header #wrapper #categories li {
				float: left;
				list-style-type: none;
				padding-right: 5px;
				padding-left: 5px;
				text-decoration: underline;
				color: black;
				font-size: 0.8em;
			}

			#menu {
				list-style-type: none;
				padding: 0px 0px;
			}

			#main {
				text-align: justify;
				text-justify: inter-word;
			}


		</style>

		<header>
			<div id='wrapper'>
				<div id='topBar'>
					<a href='/'>
						<div id='logo'>

						</div>
					</a>
					<ul id='user'>
						<% if(user) { %>
							<a href='/sign-out'>
								<li>
									Sign Out
								</li>
							</a>
							<a href='/messages'>
								<li>
									Messages (0) |
								</li>
							</a>
							<a href='/user/wallet'>
								<li>
									<strong>Taskcoin</strong> <%- user.taskcoin %> |
								</li>
							</a>
						<% } else { %>
							<a href='/sign-in'>
								<li>
									Sign In
								</li>
							</a>
							<a href='/sign-up'>
								<li>
									Sign Up
								</li>
							</a>
						<% } %>
					</ul>
				</div>
				<ul id='nav'>
					<% if(user) { %>
					<div id='newListing'>
						
					</div>
					<% } %>
				</ul>
			</div>
		</header>

		<div class='fluid'>
			<div class='row'>
				<div class='col-sm-3'>
					<ul id='menu'>
						<h5>
							User
						</h5>
						<li>
							<a href="/help/user/settings">
								How to edit settings
							</a>
						</li>
						<li>
							<a href="/help/user/wallet">
								How to manage wallet
							</a>
						</li>
						<li>
							<a href="/help/user/account">
								How to secure your account
							</a>
						</li>
						<li>
							<a href="/help/user/profile">
								Editing your profile
							</a>
						</li>
						<h5>
							Listings
						</h5>
						<li>
							<a href="/help/listing/start">
								How to start a listing
							</a>
						</li>
						<li>
							<a href="/help/listing/edit">
								How to edit a listing
							</a>
						</li>
						<li>
							<a href="/help/listing/remove">
								How to remove a listing
							</a>
						</li>
						<li>
							<a href="/help/listing/fees">
								Listing fees
							</a>
						</li>
						<li>
							<a href="/help/listing/type">
								Can listing type be changed	
							</a>
						</li>
						<li>
							<a href="/help/listing/report">
								How to report listings
							</a>
						</li>
						<li>
							<a href="/help/listing/management">
								Listing management
							</a>
						</li>
						<h5>
							Deal
						</h5>
						<li>
							<a href="/help/deal/feedback">
								How to give feedback
							</a>
						</li>
						<li>
							<a href="/help/deal/dispute">
								How to start dispute
							</a>
						</li>
						<li>
							<a href="/help/deal/offer">
								How to revoke offer
							</a>
						</li>
						<li>
							<a href="/help/deal/deal">
								How to see deal
							</a>
						</li>
						<li>
							<a href="/help/deal/options">
								Alternative payment options
							</a>
						</li>
					</ul>
				</div>
				<div id='main' class='col-sm-9'>
					<h3>
						Help
					</h3>
					<hr>
					<p>
						This is how to use < title > . If you have any questions, contact us below.
					</p>
					<% if(!user) { %>
					<form>
						<label>
							Title
						</label>
						<br>
						<input type='input' minlength="10" required maxlength="80" name='title' />
						<br>
						<label>
							Message
						</label>
						<br>
						<textarea required minlength="30" maxlength="10000" name='message'></textarea>
						<br>
						<br>
						<input type='submit' value="Send" />
					</form>
					<% } %>
				</div>
			</div>
		</div>

		<script type='text/javascript'>
		$.get('/api/menu', function(callback) {
			for(var i = 0; i < callback[0].length; i++) {
				if(callback[0][i] == 'New Listing') {
					$('#newListing').append("<a href='/new-listing'><li>New Listing</li></a>");
				} else {
					$('#nav').append('<a href='+callback[1][i]+'><li>'+callback[0][i]+'</li></a>');
				}
			}
		});
		</script>
	</body>
</html>
